/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-staff-info {
	color: inherit;
	background: inherit;
	.wp-block-prc-block-staff-info__prefix {
		display: none;
	}
	&.is-style-has-prefix {
		.wp-block-prc-block-staff-info__prefix {
			display: inline-block!important;
		}
	}
	&__staff-expertise {
		display: flex;
		&.is-vertical span {
			display: none;
		}
	}
	&__staff-image {
		min-width: 100px;
		min-height: 100px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 60px;
			height: 60px;
			background-color: #ccc;
			border-radius: 50%;
		}
	}
}
