/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

// Original source: https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/navigation-submenu/editor.scss

.wp-block-navigation-item.wp-block.wp-block-navigation-submenu.is-style-sub-tree,
.wp-block-navigation-item.wp-block.wp-block-navigation-submenu.is-style-sub-expand {
	flex-wrap: wrap;
	.wp-block-navigation__submenu-container {
		position: relative;
		flex-basis: 100%;
		border: transparent;
	}
}

.wp-block-navigation-item.wp-block.wp-block-navigation-submenu.is-style-sub-expand {
	&.is-selected,
	&.has-child-selected,
	&:hover {
		& > .wp-block-navigation__submenu-icon:after {
			content: "-";
		}
	}
	& > .wp-block-navigation-item__content {
		order: 1;
	}
	& > .wp-block-navigation__submenu-icon {
		order: 0;
		&:after {
			content: "+";
			line-height: 10px;
		}
		svg {
			display: none;
		}
	}
	& > .wp-block-navigation__submenu-container {
		order: 2;
		& > .wp-block-navigation-item > .wp-block-navigation-item__content {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
