// We need to use intersection scroll observer to apply this is-style-snap-groups active and not active
body.carousel-locked {
	overflow-y: hidden;
}

.wp-block-prc-block-carousel:not(.wp-block) {
	padding: 0;
	width: 100%;
	// min-height: 50vh;
	&.alignwide {
		--max-width: 1000px;
		--gutter: calc(var(--max-width) - 640px);
		--offset-calc: calc(var(--gutter) / 2);
		margin-left: calc(-1 * var(--offset-calc)) !important;
		margin-right: calc(-1 * var(--offset-calc)) !important;
		max-width: var(--max-width) !important;
		width: 100vw;
	}
	&:not(.is-style-horizontal),
	&.alignfull {
		max-width: 100%!important;
	}
}

.wp-block-cover {
	.wp-block-prc-block-carousel:not(.wp-block) {
		&:not(.is-style-horizontal) {
			height: 100vh;
		}
		max-width: 100%!important;
	}
}

// Splide JS Minimum Core Styles
@import './splide.core.min.css';
