{{#isSyncedEntityVariant}}
export const POST_TYPE = 'post';
export const POST_TYPE_LABEL = 'Post';
export const POST_TYPE_REST_BASE = 'post';
export const ALLOWED_BLOCKS = [
	'core/group',
	'core/paragraph',
];
export const DEFAULT_BLOCK = 'core/paragraph';
{{/isSyncedEntityVariant}}
