.wp-block-prc-block-mailchimp-form.wp-block,
.wp-block-prc-block-mailchimp-form > form {
	display: flex;

	&.is-style-standard {
		flex-direction: column;
	}

	&.is-style-horizontal {
		flex-direction: row;
		input {
			flex-grow: 1;
			margin-right: 5px;
		}
	}
}
