/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-mega-menu-controller {
	color: inherit;
	background: inherit;
	border: 1px solid transparent;
	.wp-block-prc-block-mega-menu__toggle {
		background: none;
		border: none;
	}
	.wp-block-prc-block-mega-menu__inner-container {
		display: none;
	}

	&.is-active {
		.wp-block-prc-block-mega-menu__inner-container {
			display: block;
		}
		.wp-block-prc-block-mega-menu__toggle > svg {
			transform: rotate(180deg);
		}
	}

	.wp-block-prc-block-mega-menu__inner-container {
		background: white;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}

	.wp-block-prc-block-menu-link__label {
		display: flex;
		flex-direction: row;
		& > * {
			cursor: pointer;
		}

	}

	// Float the menu above everything else on desktop.
	@container prc-responsive-container (min-width: 791px) {
		.wp-block-prc-block-mega-menu__inner-container {
			position: fixed;
			left: 0;
			width: 100vw;
			margin-top: 1px;
			z-index: 1;
		}
	}
}
