/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-menu {
	
	&:not(.has-sans-serif-font-family),
	&:not(.has-serif-font-family) {
		font-family: var(--wp--preset--font-family--sans-serif);
	}

	&:not(.wp-block) {
		overflow-x: overlay;
	}

	&.has-background .wp-block-prc-block-menu-link {
		background-color: var(--menu--background-color);
	}

	&.has-text {
		.wp-block-prc-block-menu-link,
		.wp-block-prc-block-menu-link__label,
		a.wp-block-prc-block-menu-link__label {
			color: var(--menu--text-color);
		}
	}

	&.is-style-pills,
	&.is-style-text {
		font-size: 14px;
		.wp-block-prc-block-menu-link {
			padding: 0.5em;
			line-height: 1.067em;
			text-align: center;
			text-decoration: none;
			transition: opacity .1s ease, background-color .1s ease,color .1s ease, box-shadow .1s ease,background .1s ease;
			min-width: -moz-fit-content;
			min-width: fit-content;
			&:hover {
				background-color: var(--menu--active-color);
				color: var(--menu--hover-text-color);
				text-decoration: none;
				a {
					text-decoration: none;
				}
			}
		}
	}

	&.is-style-pills.has-border,
	&.is-style-text.has-border {
		.wp-block-prc-block-menu-link {
			border-width: 1px;
			border-radius: 3px;
			border-color: var(--menu--border-color);
			border-style: solid;
		}
	}

	&.is-style-text-only {
		line-height: 1;
	}

	&.is-style-text-only.has-border .wp-block-prc-block-menu-link {
		&__label {
			border-left: none;
			border-top: none;
			border-bottom: none;
			border-right-width: 1px;
			border-right-style: solid;
			border-right-color: var(--menu--border-color);
			@media (prefers-color-scheme: dark), (prefers-dark-interface) {
				border-right: 1px solid white;
			}
		}
		&:last-of-type {
			.wp-block-prc-block-menu-link__label {
				border-right: none!important;
				padding-right: 0;
			}
		}
	}

	&.is-style-pointing {
		&.has-border {
			border-bottom: 2px solid var(--menu--border-color);
		}
		&.has-active {
			.wp-block-prc-block-menu-link {
				&.is-active {
					border-bottom-color: var(--menu--active-color);
				}
			}
		}
	}
}
	
// 	&.is-style-standard .wp-block-prc-block-menu-link {
// 		&.has-border-color {
// 			border-width: 1px;
// 			border-radius: 3px;
// 			border-color: transparent;
// 			border-style: solid;
// 		}
// 		padding: .7857142857em 1.5em;
// 		line-height: 1.067em;
// 		text-align: center;
// 		text-decoration: none;
// 		transition: opacity .1s ease, background-color .1s ease,color .1s ease, box-shadow .1s ease,background .1s ease;
// 		min-width: -moz-fit-content;
// 		min-width: fit-content;
// 	}

// 	&.is-style-secondary {
// 		border-top: 0;
// 		border-right: 0;
// 		border-left: 0;
// 		border-bottom-width: 2px;
// 		.wp-block-prc-block-taxonomy-menu-link {
// 			border: none;
// 			&.is-active {
// 				position: relative;
// 				border-bottom: 2px solid #000;
// 				margin-bottom: -2px;
// 			}
// 		}
// 	}
// }
