/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-form-field {
	color: inherit;
	background: inherit;
	display: flex;
	flex-direction: column;
	gap: var(--block-gap);

	& > input {
		width: 100%;
	}

	&[required] label:after {
		content: "*";
		color: red;
	}

	&.is-hidden {
		display: none;
	}

	&.is-selected {
		font-weight: bold;
	}

	&.is-style-only-label {
		&:not(.wp-block) {
			input {
				display: none;
			}
		}
		input {
			opacity: 0.4;
		}
	}

	&.is-style-only-input {
		&:not(.wp-block) {
			label {
				display: none;
			}
		}
		label {
			opacity: 0.4;
		}
	}
}
