/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-attachment-info {
	color: inherit;
	background: inherit;
	font-family: var(--wp--preset--font-family--sans-serif);
	ul {
		gap: var(--block-gap);
	}
}
