.wp-block-prc-block-flip-card {
    margin-bottom: 1.5em;
    width: 100vw;
    .flip-card-front,
    .flip-card-back {
        cursor: pointer;
        padding: 1em;
        border: 1px solid;
    }
}