
.wp-block-prc-block-table-of-contents {
	margin-top: 24px;

	.wp-block-prc-block-table-of-contents__heading {
		display: flex;
		align-items: center;
		padding: 0.525em 1em;
		margin-top: 0;

		&.is-hidden {
			display: none;
		}

		h2 {
			font-size: 0.825em;
			font-weight: 400;
			letter-spacing: .1em;
			line-height: 1.28571429em;
			text-transform: uppercase;
			flex-grow: 1;
			margin: 0;
		}

		.wp-block-prc-block-table-of-contents__dropdown {
			display: none;
			cursor: pointer;
		}
	}

	.wp-block-prc-block-table-of-contents__list {
		list-style: none;
		padding: 0;
		li ul {
			list-style: none;
		}

		& > li {
			padding: 0.525em 1em;
			&:hover {
				background-color: var(--wp--preset--color--oatmeal);
			}
			&.is-active {
				background-color: var(--wp--preset--color--gray);
				& > span {
					font-weight: 700;
				}
			}
		}

		a:hover,
		span:hover {
			text-decoration: underline;
		}
	}

	&.is-style-dropdown {
		border-top: 1px solid var(--wp--preset--color--gray-light);
		border-bottom: 1px solid var(--wp--preset--color--gray-light);
		&:not(.is-open) .wp-block-prc-block-table-of-contents__list {
			display: none;
		}
		&.is-open .wp-block-prc-block-table-of-contents__list {
			display: block;
		}
		.wp-block-prc-block-table-of-contents__heading {
			h2 {
				font-weight: 700;
			}
			.wp-block-prc-block-table-of-contents__dropdown {
				display: block;
			}
		}
	}
}

// For posts with sidebar driven TOC.
#prc-mobile-toc,
.wp-block-group.mobile-toc {
	position: sticky;
	top: 0;
	z-index: 100;
	.wp-block-group.mobile-toc {
		position: relative;
	}
}

// Mobile Dropdown TOC
.wp-block-group:not(.wp-block) {
	&.mobile-toc {
		margin-bottom: 1em;
		padding-bottom: 1em;
		background: var(--wp--preset--color--white)!important;
		border-top: 1px solid #dadbdb;
		border-bottom: 1px solid #dadbdb;
		max-width: 100%!important;
		// & > :where(:not(.alignleft):not(.alignright)) {
		// }
		h3 {
			cursor: pointer;
			padding-top: 1em;
			margin-bottom: 0;
			letter-spacing: .1em;
			&:after {
				font-family: var(--prc--icon--dropdown--family);
				content: var(--prc--icon--dropdown--content);
				display: block;
				float: right;
			}
		}
		.wp-block-prc-block-table-of-contents {
			padding-top: 1em;
		}
		&.is-open {
			h3:after {
				transform: rotate(180deg) scaleX(-1);
			}
		}
	}
	&.mobile-toc:not(.is-open) .wp-block-prc-block-table-of-contents {
		display: none;
	}
}


// Mobile Toolbar Icons TOC
.wp-block-group:not(.wp-block) {
	&.mobile-toc-icons {
		margin-bottom: 1em;
		padding-bottom: 0;
		background: var(--wp--preset--color--white)!important;
		border-top: 1px solid #dadbdb;
		border-bottom: 1px solid #dadbdb;
		display: flex;
		align-items: center;
		h3 {
			display: block;
		}
		.hidden-text {
			display: none;
		}
		.wp-block-prc-block-table-of-contents {
			padding-top: 0;
			.ui.list {
				display: flex;
				align-items: stretch;
				.item {
					display: inline-block;
					-webkit-box-flex: 1;
					-ms-flex-positive: 1;
					flex-grow: 1;
					filter: grayscale(100%);
					opacity: 0.7;
					&.active {
						filter: grayscale(0%);
						opacity: 1.0;
					}
					&.hidden {
						display: none!important;
					}
				}
			}
		}
	}
}

