.wp-block-prc-block-table-of-contents {
	margin-top: 24px;



	&:not(.is-style-dropdown):not(.is-switched),
	&[data-auto-dropdown-enabled="false"] {
		.wp-block-prc-block-table-of-contents__heading.is-hidden {
			display: none;
		}
		.wp-block-prc-block-table-of-contents__dropdown__heading {
			display: none;
		}
	}

	.wp-block-prc-block-table-of-contents__dropdown__heading {
		.wp-block-prc-block-table-of-contents__dropdown-trigger {
			cursor: pointer;
			background: none;
			appearance: none;
			box-shadow: none;
			border: none;
		}
	}
}

.wp-block-prc-block-table-of-contents.is-style-dropdown,
.wp-block-prc-block-table-of-contents[data-auto-dropdown-enabled="true"].is-switched {
	// border-top: 1px solid var(--wp--preset--color--ui-gray-light);
	// border-bottom: 1px solid var(--wp--preset--color--ui-gray-light);

	.wp-block-prc-block-table-of-contents__heading {
		display: none;
	}

	& > .wp-block-prc-block-table-of-contents__list {
		height: 100vh;
		overflow-y: auto;
	}

	.wp-block-prc-block-table-of-contents__list {
		margin-top: 0;
	}

	&[aria-expanded] .wp-block-prc-block-table-of-contents__list,
	&[aria-expanded="false"] .wp-block-prc-block-table-of-contents__list {
		display: none;
	}
	&[aria-expanded="true"] .wp-block-prc-block-table-of-contents__list {
		display: block;
	}
}
