// Styles for both the Editor and the front end.
.wp-block-prc-block-navigation-mega-menu {
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	flex-direction: column;

	&.is-active {
		border-top-color: var(--active-border-color);
		border-right-color: var(--active-border-color);
		border-left-color: var(--active-border-color);
		.wp-block-prc-block-navigation-mega-menu__tab-divider {
			background-color: var(--overlay-background-color);
		}
	}

	.wp-block-prc-block-navigation-mega-menu__tab-divider {
		height: 1px;
		width: 100%;
		background-color: transparent;
		position: relative;
		z-index: 4;
		top: 1px;
	}

    .wp-block-prc-block-navigation-mega-menu__toggle {
        background-color: initial;
        border: none;
        color: currentColor;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
		letter-spacing: inherit;
        padding: 0;
        text-align: left;
        text-transform: inherit;
		border-bottom: 1px solid transparent;
		position: relative;
		z-index: 3;
		top: 0px;

        .wp-block-prc-block-navigation-mega-menu__toggle-dropdown-icon,
		.wp-block-prc-block-navigation-mega-menu__toggle-search-icon,
		.wp-block-prc-block-navigation-mega-menu__toggle-mobile-icon {
            align-self: center;
            display: inline-block;
            font-size: inherit;
            // height: 0.6em;
            // line-height: 0;
            padding: 0;
            width: 0.6em;
        }
		.wp-block-prc-block-navigation-mega-menu__toggle-dropdown-icon {
			font-size: 14px;
			margin-left: 0.25em;
			i {
				position: relative;
				top: -1px;
			}
			& > * {
                display: inline-block;
                transition: all .1s linear;
            }
		}
		.wp-block-prc-block-navigation-mega-menu__toggle-mobile-icon {
			& > * {
				display: inline-block;
                transition: all .1s linear;
            }
		}
		&:hover {
			background-color: transparent;
		}
        &[aria-expanded=true] {
            .wp-block-prc-block-navigation-mega-menu__toggle-dropdown-icon > * {
                transform: rotate(-180deg);
            }
			.wp-block-prc-block-navigation-mega-menu__toggle-mobile-icon > * {
				transform: rotate(-90deg);
			}

            & ~ .wp-block-prc-block-navigation-mega-menu__container {
                opacity: 1;
                overflow: visible;
                visibility: visible;
            }
        }
    }

	.wp-block-prc-block-navigation-mega-menu__container {
		height: auto;
		left: 0;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		transition: opacity .1s linear; // Hook in animation here...
		visibility: hidden;
		z-index: 2;
		background: inherit; // Inherit the background color and border color set on the menu item.
		border-bottom-width: 1px;
		border-bottom-color: var(--active-border-color);
		border-bottom-style: solid;
		border-top-width: 0px;
		max-width: 100vw;
		width: 100vw;

		.wp-block-prc-block-navigation-mega-menu__container__close-button {
			align-items: center;
			border: none;
			cursor: pointer;
			display: flex;
			justify-content: center;
			opacity: 0;
			padding: 4px;
			position: absolute;
			right: 2em;
			text-align: center;
			top: 1em;
			transition: opacity .2s ease;
			z-index: 100;
			appearance: none;
			-webkit-appearance: none;
			background-color: transparent;

			// Show the close button when focused (for keyboard navigation)
			&:focus {
				opacity: 1;
			}
		}

		// Show the close button when the mega menu is hovered.
		&:hover {
			.wp-block-prc-block-navigation-mega-menu__container__close-button {
				opacity: 1;
			}
		}

		// This ensures navigation menu inside of mega menus display correctly.
		.is-responsive {
			display: flex;
		}
	}
}
