// Styles for both the Editor and the front end.
.wp-block-prc-block-navigation-mega-menu {
	border-bottom-width: 0px!important; // No matter what, you can not set a bottom border.
	&:not(.is-open) {
		border-color: white!important;
	}
    .wp-block-prc-block-navigation-mega-menu__toggle {
        background-color: initial;
        border: none;
        color: currentColor;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
        padding: 0;
        text-align: left;
        text-transform: inherit;

        .wp-block-prc-block-navigation-mega-menu__toggle-icon {
            align-self: center;
            display: inline-block;
            font-size: inherit;
            height: 0.6em;
            line-height: 0;
            margin-left: 0.25em;
            padding: 0;
            width: 0.6em;

            svg {
                stroke: currentColor;
                display: inline-block;
                height: inherit;
                margin-top: 0.075em;
                width: inherit;
                transition: all .1s linear;
                transform: rotate(-90deg);
            }
        }
		&:hover {
			background-color: transparent;
		}
        &[aria-expanded=true] {
            .wp-block-prc-block-navigation-mega-menu__toggle-icon {
                svg {
                    transform: rotate(0deg);
                }
            }

            & ~ .wp-block-prc-block-navigation-mega-menu__container {
                opacity: 1;
                overflow: visible;
                visibility: visible;
            }
        }
    }

	.wp-block-prc-block-navigation-mega-menu__container {
		height: auto;
		left: 0;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		transition: opacity .1s linear; // Hook in animation here...
		visibility: hidden;
		z-index: 2;
		background: inherit; // Inherit the background color and border color set on the menu item.
		border-bottom-width: 1px;
		border-bottom-color: inherit;
		border-bottom-style: solid;
		max-width: 100vw;
		width: 100vw;

		.wp-block-prc-block-navigation-mega-menu__container__close-button {
			align-items: center;
			-webkit-backdrop-filter: blur(16px) saturate(180%);
			backdrop-filter: blur(16px) saturate(180%);
			background-color: #ffffffba;
			border: none;
			border-radius: 999999px;
			cursor: pointer;
			display: flex;
			justify-content: center;
			opacity: 0;
			padding: 4px;
			position: absolute;
			right: 12px;
			text-align: center;
			top: 12px;
			transition: opacity .2s ease;
			z-index: 100;

			// Show the close button when focused (for keyboard navigation)
			&:focus {
				opacity: 1;
			}
		}

		// Show the close button when the mega menu is hovered.
		&:hover {
			.wp-block-prc-block-navigation-mega-menu__container__close-button {
				opacity: 1;
			}
		}

		// This ensures navigation menu inside of mega menus display correctly.
		.is-responsive {
			display: flex;
		}
	}
}
