/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-taxonomy-index-list-controller {
	color: inherit;
	background: inherit;

	.wp-block-prc-block-taxonomy-index-az-list {
		margin-block-end: 2em;
		padding-bottom: 2em;
		border-bottom: 1px solid var(--wp--preset--color--gray-light);
	}

	.wp-block-prc-block-grid-column .wp-block-prc-block-taxonomy-index-az-list:last-child {
		border-bottom: none;
	}
}
