.wp-block-prc-block-form-input-field {
	flex-grow: 1;
	text-align: left;
	vertical-align: top;
	-webkit-appearance: none;
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: inset 0 0 0 0 transparent;
	box-sizing: border-box;
	margin: 0;
	outline: none;
	transition: color .1s ease,border-color .1s ease;
}