# To use the Chart Builder github package, you must create a private access token and store it as an environment variable.
# eg. https://hathaway.cc/2008/06/how-to-edit-your-path-environment-variables-on-mac/
# //npm.pkg.github.com/:_authToken=${NPM_TOKEN}
@pewresearch:registry=https://npm.pkg.github.com/