@prcdigital:registry=https://gitlab.com/api/v4/projects/18803335/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=4yXMrcRNNsBymVoPNjus
//gitlab.com/api/v4/projects/18803335/packages/npm/:_authToken=4yXMrcRNNsBymVoPNjus
//gitlab.com/api/v4/projects/:_authToken=4yXMrcRNNsBymVoPNjus
@prcdigital:registry=https://gitlab.com/api/v4/packages/npm/
