# To use the @pewresearch scoped github package, you must create a private access token and store it as an environment variable.
# eg. https://hathaway.cc/2008/06/how-to-edit-your-path-environment-variables-on-mac/
# see also: https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-npm-registry
# //npm.pkg.github.com/:_authToken=${NPM_TOKEN}
@pewresearch:registry=https://npm.pkg.github.com/