/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-core-button.wp-block {
	color: inherit;
	background: inherit;
}

// Hide parent wp-block-group when button is hidden
.editor-styles-wrapper :where(.wp-block-group:has(.wp-block-prc-button .wp-element-button[hidden])) {
    display: none;
}
