/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@use "../../includes/supports/src/style/variables/breakpoints" as *;

@mixin button-group-borders {
	.wp-block-button {
		&:not(:last-of-type) .wp-element-button {
			border-right: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:not(:first-child) .wp-element-button {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

.wp-block-button {
	&.wp-block-button__width-100 {
		.wp-element-button {
			width: 100%;
		}
	}
}

.wp-element-button {
	&[hidden] {
		display: none;
	}
	&.is-error {
		background-color: var(--wp--preset--color--ui-error);
		color: #fff;
	}
	&.is-success {
		background-color: var(--wp--preset--color--ui-success);
		color: #fff;
	}
	&.is-processing {
		cursor: wait;
		animation: pulse 1s infinite;
		@keyframes pulse {
			0% {
				opacity: 0.5;
			}
			50% {
				opacity: 1;
			}
			100% {
				opacity: 0.5;
			}
		}
	}
	&.is-disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}
.wp-block-button__link {
	text-decoration: none !important;
}

.wp-block-button.has-icon {
	display: flex;
	align-items: center;
	.wp-element-button {
		display: flex;
		align-items: center;
		gap: 0.5em;
		&::before,
		&::after {
			content: "";
			display: inline-block;
			width: 0.875em;
			height: 0.875em;
			flex: 0 0 0.875em;
			background-color: var(--icon-color, currentColor);
			mask-image: var(--icon-url);
			mask-size: contain;
			mask-repeat: no-repeat;
			mask-position: center;
			-webkit-mask-image: var(--icon-url);
			-webkit-mask-size: contain;
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-position: center;
		}
	}
	&[data-icon-position="left"] .wp-element-button::after {
		display: none;
	}
	&[data-icon-position="right"] .wp-element-button::before {
		display: none;
	}
}

.is-style-flex-buttons .wp-element-button {
	padding-left: 0.85em;
	padding-right: 0.85em;
}

.is-style-flex-buttons.is-content-justification-right__on-mobile__space-between,
.is-style-flex-buttons.is-content-justification-left__on-mobile__space-between {
	@media only screen and (min-width: $break-medium) {
		@include button-group-borders;
	}
}

.is-style-flex-buttons:not(.is-content-justification-space-between):not(
		.is-content-justification-right__on-mobile__space-between
	):not(.is-content-justification-left__on-mobile__space-between) {
	@include button-group-borders;
}
