/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@use "../../includes/common-styles/gutenberg-responsive-breaks" as *;

@mixin button-group-borders {
	.wp-block-button {
		&:not(:last-of-type) .wp-element-button {
			border-right: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:not(:first-child) .wp-element-button {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

.wp-block-button {
	&.wp-block-button__width-100 {
		.wp-element-button {
			width: 100%;
		}
	}
}

.wp-element-button {
	&[hidden] {
		display: none;
	}
	&.is-error {
		background-color: var(--wp--preset--color--ui-error);
		color: #fff;
	}
	&.is-success {
		background-color: var(--wp--preset--color--ui-success);
		color: #fff;
	}
	&.is-processing {
		cursor: wait;
		animation: pulse 1s infinite;
		@keyframes pulse {
			0% {
				opacity: 0.5;
			}
			50% {
				opacity: 1;
			}
			100% {
				opacity: 0.5;
			}
		}
	}
	&.is-disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}
.wp-block-button__link {
	text-decoration: none !important;
}

.is-style-flex-buttons .wp-element-button {
	padding-left: 0.85em;
	padding-right: 0.85em;
}

.is-style-flex-buttons.is-content-justification-right__on-mobile__space-between,
.is-style-flex-buttons.is-content-justification-left__on-mobile__space-between {
	@media only screen and (min-width: $break-medium) {
		@include button-group-borders;
	}
}

.is-style-flex-buttons:not(.is-content-justification-space-between):not(
		.is-content-justification-right__on-mobile__space-between
	):not(.is-content-justification-left__on-mobile__space-between) {
	@include button-group-borders;
}
