.wp-block-prc-block-collection-kicker {
	display: flex;
	align-items: center;

	font-family: var(--wp--preset--font-family--sans-serif);
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	& > a {
		color: inherit!important;
		text-decoration: none!important;
		&:visited {
			color: inherit!important;
		}
	}

	img {
		margin-right: 0.5em;
	}

	.components-base-control__field {
		margin: 0;
	}
}
