// just wholesale crib the styles from the story item block
@use "sass:math";

@mixin clearfix() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

/* Colors */
$textColor: var(--wp--preset--color--text-color);
$darkTextColor: rgba(0, 0, 0, 0.85);
$blackLinkColor: var(--wp--preset--color--ui-black);

$A1: 564px;
$A1Small: 345px;
$A1SmallHeight: 194px;
$A1Height: 317px;
$A2: 268px;
$A2Small: $A1Small;
$A2SmallHeight: 194px;
$A2Height: 151px;
$A3: 194px;
$A3Small: 148px;
$A3SmallHeight: 84px;
$A3Height: 110px;
$A4: 268px;
$A4Small: $A1Small;
$A4SmallHeight: 194px;
$A4Height: 151px;
$XL: 720px;
$XLHeight: 405px;

/*-------------------
     Transitions
--------------------*/

$defaultDuration: 0.1s;
$defaultEasing: ease;

/*-------------------
     Breakpoints
--------------------*/

$mobileBreakpoint: 320px;
$iPhoneBreakpoint: 390px;
$smallTabletBreakpoint: 666px;
$tabletBreakpoint: 768px;
$computerBreakpoint: 992px;
$largeMonitorBreakpoint: 1200px;
$widescreenMonitorBreakpoint: 1920px;

/* Responsive */
$mediumMobileScreen: $iPhoneBreakpoint;
$largestMobileScreen: ($tabletBreakpoint - 1px);
$largestTabletScreen: ($computerBreakpoint - 1px);
$largestSmallMonitor: ($largeMonitorBreakpoint - 1px);
$largestLargeMonitor: ($widescreenMonitorBreakpoint - 1px);

$mobileImageWidth: 690px;

$serifFont: var(--wp--preset--font-family--serif);
$sansSerifFont: var(--wp--preset--font-family--sans-serif);
$lineHeight: 1.4285em;

/* Header */
$headerColor: $darkTextColor;
$headerLinkColor: $headerColor;
//
$headerSmallFontSize: 18px;
$headerSmallFontWeight: 400;
$headerSmallLineHeight: 25px;
//
$headerSmallAltFontSize: 18px;
$headerSmallAltFontWeight: bold;
$headerSmallAltLineHeight: 23px;
//
$headerFont: $serifFont;
//
$headerMediumFontSize: 20px;
$headerMediumFontWeight: 700;
$headerMediumLineHeight: 26px;
//
$headerLargeFontSize: 28px;
$headerLargeFontWeight: bold;
$headerLargeLineHeight: 34px;

/* Extras Content */
$extraHorizontalSpacing: 0.5rem;
$extraRowSpacing: 0.5rem;
$extraMargin: 1em 0 0 0;

/* Consecutive Items */
$itemSpacing: 0em 0em 14px 0em;
$relaxedItemSpacing: 0 0 21px 0;
$veryRelaxedItemSpacing: 0 0 28px 0;

/* Divided */
$dividedBorder: 1px solid rgba(34, 36, 38, 0.15);

/* Glow Gradient */
$placeholderLoadingAnimationDuration: 2s;
$placeholderLoadingGradientWidth: 1200px;
$placeholderLoadingGradient: linear-gradient(
	to right,
	rgba(0, 0, 0, 0.08) 0%,
	rgba(0, 0, 0, 0.15) 15%,
	rgba(0, 0, 0, 0.08) 30%
);
$placeholderInvertedLoadingGradient: linear-gradient(
	to right,
	rgba(255, 255, 255, 0.08) 0%,
	rgba(255, 255, 255, 0.14) 15%,
	rgba(255, 255, 255, 0.08) 30%
);

@mixin imageSize($size) {
	// Mobile first
	&:not(.loaded) > picture > img {
		@media only screen and (min-width: $largestMobileScreen) {
			animation: placeholderShimmer $placeholderLoadingAnimationDuration
				linear;
			animation-iteration-count: infinite;
			background-color: white;
			background-image: $placeholderLoadingGradient;
			background-size: $placeholderLoadingGradientWidth 100%;
		}
	}

	@if $size == "A1" {
		img {
			max-width: $mobileImageWidth;
			@media only screen and (min-width: $largestMobileScreen) {
				max-width: $A1;
			}
		}
		img {
			@media only screen and (min-width: $largestMobileScreen) {
				height: $A1Height;
			}
		}
	}

	@if $size == "A2" {
		img {
			max-width: $mobileImageWidth;
			@media only screen and (min-width: $largestMobileScreen) {
				max-width: $A2;
			}
		}
		img {
			@media only screen and (min-width: $largestMobileScreen) {
				height: $A2Height;
			}
		}
	}

	@if $size == "A3" {
		img {
			max-width: $A3Small;
			@media only screen and (min-width: $largestMobileScreen) {
				max-width: $A3;
			}
		}
		img {
			@media only screen and (min-width: $largestMobileScreen) {
				height: $A3Height;
			}
		}
	}

	@if $size == "A4" {
		img {
			max-width: $mobileImageWidth;
			@media only screen and (min-width: $largestMobileScreen) {
				max-width: $A4;
			}
		}
		img {
			@media only screen and (min-width: $largestMobileScreen) {
				height: $A4Height;
			}
		}
	}
}

@keyframes placeholderShimmer {
	0% {
		background-position: -$placeholderLoadingGradientWidth 0;
	}

	100% {
		background-position: $placeholderLoadingGradientWidth 0;
	}
}

/* Image */
.wp-block-post-featured-image {
	.image {
		grid-area: image;
		img {
			width: 100%;
			height: auto;
		}
		// Chart Art
		&.bordered {
			img {
				border: 1px solid #dadada;
			}
		}

		&.A1 {
			@include imageSize("A1");
		}

		&.A2 {
			@include imageSize("A2");
		}

		&.A3 {
			@include imageSize("A3");
		}

		&.A4 {
			@include imageSize("A4");
		}

		&.XL > img,
		&.XL > source {
			max-width: $XL;
		}
	}
}
