/**
 * Block Visibility Editor Styles
 *
 * @package prc-block-library
 */

/**
 * Hide On Mobile
 */
.is-mobile-preview .prc-block-visibility__mobile {
	&.wp-block:before {
		content: "This block is hidden on mobile.";
		font-family: var(--wp--preset--font-family--sans-serif);
		display: block;
		text-align: center;
		font-size: 0.8em;
		border: 1px dashed #ddd;
		color: #999;
		padding: 1em;
	}
	&:not(.wp-block),
	& > * {
		display: none !important;
	}
}

/**
 * Hide On Tablet
 */
.is-tablet-preview .prc-block-visibility__tablet {
	&.wp-block:before {
		content: "This block is hidden on tablet.";
		font-family: var(--wp--preset--font-family--sans-serif);
		display: block;
		text-align: center;
		font-size: 0.8em;
		color: #999;
		border: 1px dashed #ddd;
		padding: 1em;
	}
	&:not(.wp-block),
	& > * {
		display: none !important;
	}
}

/**
 * Hide On Desktop
 */
.is-desktop-preview .prc-block-visibility__desktop {
	&.wp-block:before {
		content: "This block is hidden on desktop.";
		font-family: var(--wp--preset--font-family--sans-serif);
		display: block;
		text-align: center;
		font-size: 0.8em;
		color: #999;
		border: 1px dashed #ddd;
		padding: 1em;
	}
	&:not(.wp-block),
	& > * {
		display: none !important;
	}
}
