.wp-block-prc-block-dialog-element {
	border: inherit;
	background: inherit;
	padding: inherit;
	z-index: 10;
	max-width: 95vw;
	&.is-size-small {
		min-width: 25vw !important;
	}
	&.is-size-medium {
		min-width: 50vw !important;
	}
	&.is-size-large {
		min-width: 75vw !important;
	}
	&[data-wp-dialog-type="dialog"] {
		position: absolute;
	}
	&.has-border-color {
		border-style: solid;
	}
	&.is-mobile {
		max-height: 90vh;
		padding: 1em !important;
	}
	&:has(.wp-block-jetpack-videopress:only-child) {
		background: black;
		padding: 0 !important;
		min-width: 400px;
	}
	&:not(.has-backdrop-color)::backdrop {
		background-color: black;
		opacity: 0.8;
	}
	&::backdrop {
		opacity: 0.5;
		cursor: zoom-out;
	}
	&__inner {
		& > *:first-child {
			margin-top: 0;
		}
	}
	&__close-button {
		appearance: none;
		background: none;
		border: none;
		padding: 0px;
		padding-inline: 0px;
		margin: 0px;
		float: right;
		margin: 0.25em;
		cursor: pointer;
		position: relative;
		z-index: 1;

		i.icon {
			font-size: 18px;
			transition: transform 0.3s;
		}
		&:hover i.icon {
			transform: scale(1.2);
		}
	}
}

// Opening and closing animations:
@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeOutDown {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
}

// A pop in animation for "dialog" type dialogs.
@keyframes popIn {
	from {
		transform: scale(0.9);
		opacity: 0;
	}

}
@keyframes popOut {
	to {
		transform: scale(0.9);
		opacity: 0;
	}
}

// Modal "fade in" animation.
.wp-block-prc-block-dialog .wp-block-prc-block-dialog-element[data-wp-dialog-type="modal"][open] {
	animation-duration: var(--animation-duration, 0.5s);
	animation-name: fadeInDown;
	&.is-closing {
		animation-duration: var(--animation-duration, 0.5s);
		animation-name: fadeOutDown;
	}
}


.wp-block-prc-block-dialog .wp-block-prc-block-dialog-element[data-wp-dialog-type="dialog"][open] {
	animation-name: popIn;
	animation-duration: var(--animation-duration, 0.5s);
	&.is-closing {
		animation-name: popOut;
		animation-duration: var(--animation-duration, 0.5s);
	}
}