/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-menu-link {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-left: 0 !important;
	margin-right: 0 !important;
	border: 1px solid transparent;
	&.is-active > &__label {
		font-weight: bold;
	}
	a {
		color: var(--wp--preset--color--link-color);
	}
	a:hover >  &__label {
		text-decoration: underline!important;
	}
	&__label {
		display: inline-block;
		padding: 0 0.5em;
		border: 1px solid transparent;
	}
}
