/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.big-number {
    color: #d7b236;
    content: counter(section);
    counter-increment: section;
    float: left;
    font-family: franklin-gothic-urw, Verdana, Geneva, sans-serif;
    font-size: 21px;
    font-weight: 500;
    margin-right: 13px;
    padding-bottom: .15rem;
    padding-top: .15rem;
    opacity: 81%;
}

.wp-block-prc-block-popular-story {
	display: flex;
	padding-bottom: 15px;
	margin-bottom: 15px;
	&:not(:last-child) {
		border-bottom: 1px solid var(--wp--preset--color--gray-cool);
	}
	.title {
		font-family: var(--wp--preset--font-family--serif);
		font-size: 18px;
		line-height: 23px;
		font-weight: 400;
		color: var(--wp--preset--color--text-color);
		margin: 0;
	}
}
