
// Disable margin-top on the first block and margin-bottom on the last block when inside a column block.
.wp-block-prc-block-grid .column > .wp-block-prc-block-promo,
.wp-block-column > .wp-block-prc-block-promo {
	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.prc-block-area[data-post-type='fact-tank'] .wp-block-prc-block-promo,
.prc-block-area[data-post-type='post'] .wp-block-prc-block-promo {
	padding: 1rem;
}


.wp-block-prc-block-promo {
	padding: 24px 40px;
	margin: 21px auto;
	clear: both;
	border: 1px solid transparent;
	font-size: 15px;

	container-type: inline-size;
	container-name: promo;

	mark {
		background: transparent!important;
	}

	.wp-block-prc-block-promo__sub_heading {
		margin-top: 4px;
	}

	// Default Layout
	.wp-block-prc-block-promo__inner-container {
		display: grid;
		max-width: var(--max-width, 1058px);
		grid-gap: var(--grid-gap, 16px);
		grid-template-areas: var(--grid-template-areas);
		grid-template-columns: var(--grid-template-columns);
		justify-content: var(--grid-justification, center);
		align-items: var(--grid-alignment, center);
		margin: 0 auto;
	}

	// Add some padding on mobile...?
	@media screen and (max-width: 760px) {
		padding: 20px;
	}

	.wp-block-prc-block-promo__heading,
	p {
		margin: 0!important;
	}

	.wp-block-prc-block-promo__icon {
		grid-area: icon;
		text-align: center;
		& > img,
		& > div > svg {
			width: 47px;
		}

		.has-large-icon & {
			& > img,
			& > div > svg {
				width: 106px;
			}
		}
	}

	.wp-block-prc-block-promo__text {
		grid-area: text;
		text-align: left;
	}

	.wp-block-prc-block-promo__action {
		grid-area: action;
		text-align: right;
		container-type: inline-size;
		container-name: action;
	}
}

// Standard Layout (With Icon)
.wp-block-prc-block-promo.has-icon,
.wp-block-prc-block-promo.is-style-standard.has-icon {
	// Large Icon
	&.has-large-icon {
		--grid-template-columns: 106px 2fr 2fr;
	}
	// Default layouts for both with and without form variants
	&:not(.is-style-pancake) > .wp-block-prc-block-promo__inner-container {
		--grid-template-areas: 'icon text action';
		--grid-template-columns: 47px 2fr 2fr;
		--grid-alignment: center;

		@container promo (max-width: 361px) {
			--grid-template-areas:
				'icon'
				'text'
				'action'!important;
			--grid-template-columns: minmax(200px, 361px)!important;
			--grid-justification: center!important;

			.wp-block-prc-block-promo__text {
				padding-bottom: 7px;
			}
			.wp-block-prc-block-promo__text,
			.wp-block-prc-block-promo__action {
				text-align: center;
			}
		}
	}
	// With Form
	&.has-form:not(.is-style-pancake) > .wp-block-prc-block-promo__inner-container {
		@container promo (max-width: 670px) {
			--grid-template-areas:
			'text text'
			'icon action';
			--grid-template-columns: 47px minmax(320px, 475px);
			--grid-alignment: flex-start;
			--grid-justification: center!important;

			.wp-block-prc-block-promo__text {
				text-align: center;
				padding-bottom: 7px;
			}
		}

		@container promo (max-width: 480px) {
			--grid-template-areas:
			'icon text'
			'action action';
			--grid-template-columns: 47px minmax(320px, 475px);
			--grid-alignment: flex-start;
			--grid-justification: center!important;

			.wp-block-prc-block-promo__text {
				text-align: left;
				padding-bottom: 7px;
			}
		}
	}
	// Without Form
	&:not(.has-form):not(.is-style-pancake) > .wp-block-prc-block-promo__inner-container {
		--grid-template-columns: 47px 2fr 1fr;
		@container promo (max-width: 361px) {
			.wp-block-prc-block-promo__action,
			.wp-block-prc-block-promo__action > .is-content-justification-right {
				justify-content: center!important;
			}
		}
	}
}

// Pancake Layout
.wp-block-prc-block-promo.is-style-pancake {
	&.has-form > .wp-block-prc-block-promo__inner-container {
		--grid-template-columns: 7fr 3fr;
		.wp-block-prc-block-promo__action > .wp-block-prc-block-mailchimp-form {
			flex-direction: row;
		}
	}
	& > .wp-block-prc-block-promo__inner-container {
		--grid-template-areas: 'text action';
		--grid-template-columns: 9fr 1fr;
		--grid-alignment: center;

		@container promo (max-width: 760px) {
			--grid-template-areas: 'icon'
			'text'
			'action'!important;
			--grid-template-columns: minmax(200px, 600px)!important;
			--grid-justification: center!important;

			.wp-block-prc-block-promo__text {
				flex-direction: column;
			}
			.wp-block-prc-block-promo__action,
			.wp-block-prc-block-promo__action > .is-content-justification-right {
				justify-content: center!important;
			}
		}

		.wp-block-prc-block-promo__text {
			display: flex;
			grid-gap: 10px;
			align-items: center;
		}
		.wp-block-prc-block-promo__icon {
			display: none;
		}
	}
}

