$breakpointTablet: 920px;
$fontSize: 15px;
$margin: 21px auto;
$padding: 24px 40px;
$iconWidth: 47px;
$largeIconWidth: 106px;
$maxWidth: 1058px;
$headingColorDark: #F8F8F8;
$subHeadingColorDark: #DADBDB;
$headingColorLight: #2A2A2A;
$subHeadingColorLight: #565656;

.wp-block-prc-block-promo {
  padding: $padding;
  margin: $margin;
  clear: both;

  border: 1px solid transparent;
  font-size: $fontSize;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.has-dark-background {
    .heading {
      color: $headingColorDark!important;
    }
    .sub-heading,
    .wp-block-prc-block-promo__action .wp-block-prc-block-menu-link:not(.is-style-button):not(.ui.button) {
      color: $subHeadingColorDark!important;
    }
  }

  .heading {
    color: $headingColorLight;
  }

  .sub-heading {
    color: $subHeadingColorLight;
  }

  .wp-block-prc-block-promo__inner-container {
    max-width: $maxWidth;
    display: grid;
    grid-gap: 10px;
    margin: 0 auto;
  }

  &.is-style-standard > .wp-block-prc-block-promo__inner-container,
  &:not(.is-style-asymmetrical) > .wp-block-prc-block-promo__inner-container {
    grid-template-areas: 'text action';
    grid-template-columns: 2fr 2fr;
    align-items: center;
  }
  &.is-style-standard.has-icon > .wp-block-prc-block-promo__inner-container,
  &:not(.is-style-asymmetrical).has-icon > .wp-block-prc-block-promo__inner-container {
    grid-template-areas: 'icon text action';
    grid-template-columns: $iconWidth 2fr 2fr;
    align-items: center;
  }
  &.is-style-standard.has-icon.has-large-icon > .wp-block-prc-block-promo__inner-container,
  &:not(.is-style-asymmetrical).has-icon.has-large-icon > .wp-block-prc-block-promo__inner-container {
    grid-template-columns: $largeIconWidth 2fr 2fr;
  }

  &.is-style-asymmetrical > .wp-block-prc-block-promo__inner-container {
    grid-template-areas: 'text action';
    grid-template-columns: 9fr 1fr;
    align-items: center;
    .wp-block-prc-block-promo__text {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 330px auto;
      align-items: center;
    }
  }
  
  .heading,
  p,
  .fields,
  .wp-block-prc-block-promo__action > .wp-block {
    margin: 0!important;
  }

  &.has-large-icon .wp-block-prc-block-promo__icon {
    & > img,
    & > div > svg {
      width: $largeIconWidth;
    }
  }
  .wp-block-prc-block-promo__icon {
    grid-area: icon;
    text-align: center;
    & > img,
    & > div > svg {
      width: $iconWidth;
    }
  }

  .wp-block-prc-block-promo__text {
    grid-area: text;
    text-align: left;
  }

  .wp-block-prc-block-promo__action {
    grid-area: action;
    text-align: right;
    .wp-block-prc-block-menu-link:not(.is-style-button):not(.ui.button) {
      padding-top: 6px;
      display: inline;
    }
  }
}

.wp-block-prc-block-promo.wp-block {
  &.is-selected:focus {
    border-color: transparent!important;
  }

  &.is-selected,
  &.has-child-selected {
    border-color: #007cba;
  }
}

// When in smaller columns:
.column:not(.sixteen) > .wp-block-prc-block-promo:not(.is-style-asymmetrical) {
  padding: 12px;
}

.column:not(.four):not(.sixteen) > .wp-block-prc-block-promo:not(.is-style-asymmetrical).has-form > .wp-block-prc-block-promo__inner-container,
.wp-block-prc-block-promo.two-column-width:not(.is-style-asymmetrical).has-form > .wp-block-prc-block-promo__inner-container {
  grid-template-areas:
  'text text'
  'icon action';
  grid-template-columns: $iconWidth auto;
  align-items: flex-start;

  .wp-block-prc-block-promo__text {
    text-align: center;
  }
}

.column:not(.four):not(.sixteen) > .wp-block-prc-block-promo:not(.is-style-asymmetrical):not(.has-form) > .wp-block-prc-block-promo__inner-container,
.wp-block-prc-block-promo.two-column-width:not(.is-style-asymmetrical):not(.has-form) > .wp-block-prc-block-promo__inner-container,
.four.wide.column > .wp-block-prc-block-promo:not(.is-style-asymmetrical) > .wp-block-prc-block-promo__inner-container,
.wp-block-prc-block-promo.one-column-width:not(.is-style-asymmetrical) > .wp-block-prc-block-promo__inner-container {
  grid-template-areas: 
  'icon'
  'text'
  'action'!important;
  grid-template-columns: 100%!important;
  align-items: 'center'!important;

  .wp-block-prc-block-promo__text,
  .wp-block-prc-block-promo__action,
  .ui.mailchimp.form .field {
    text-align: center;
  }

  .wp-block-prc-block-promo__icon {
    margin: 0 auto;
  }

  .wp-block-prc-block-promo__action {
    display: flex;
    flex-direction: column;
    align-items: center;
    .block-list-appender {
      margin-left: auto;
      margin-right: auto;
      padding-left: 2em;
    }
  }
}

.prc-block-area[data-post-type='fact-tank'] .wp-block-prc-block-promo,
.prc-block-area[data-post-type='post'] .wp-block-prc-block-promo {
  padding: 1rem;
}


// // Legacy Styles:
// .wp-block-prc-block-promo {
//     padding: 24px 40px;
//     margin-top: 21px;
// 		margin-bottom: 21px;
//     clear: both;
    
//     text-align: center;
//     font-size: 16px;

//     border-width: 1px;
//     border-style: solid;
//     border-color: transparent;

//     &:first-child {
//       margin-top: 0;
//     }

//     &:last-child {
//       margin-bottom: 0;
//     }

//     &.is-selected:focus {
//       border-color: transparent!important;
//     }

//     &.is-selected,
//     &.has-child-selected {
//       border-color: #007cba;
//     }

//     .text {
//       padding-bottom: 24px;

//       h2 {
//         font-size: 21px;
//         line-height: 26px;
//       }
//       p {
//         font-size: 16px;
//         line-height: 21px;
//       }
//     }

//     .action {
//       min-height: 36px;
//       .button {
//         font-size: 15px        !important;
//         font-weight: 500       !important;
//         letter-spacing: 0.05em !important;
//         min-width: 120px;
//         text-align: center     !important;
//         margin-left: auto      !important;
//         margin-right: auto     !important;
//       }
//     }

//     .icon {
//       & > div,
//       & > img {
//         width: $icon-width;
//         display: inline-block;
//         svg {
//           max-width: 100%;
//         }
//       }
//     }

//     &.is-style-centered {
//       .action {
//         max-width: 420px;
//         margin-left:auto;
//         margin-right:auto;
//       }
//       .ui.mailchimp.form {
//         & > .field > .field {
//           text-align: center;
//         }
//       }
//     }

//     // Horizontal "Pancake" Styles:
//     @media (min-width: $breakpoint-tablet) {
//       &.pancake,
//       &.is-style-pancake,
//       &.is-style-pancake-stacked {
//         display: flex;
//         flex-direction: row;
//         align-items: flex-start; 
//         text-align: left;

//         .icon,
//         .text {
//           margin-right: 1em;
//         }
  
//         .text {
//           display: flex;
//           flex-direction: row;
//           align-items: center;
//           padding-bottom: 0;
  
//           & > h2 {
//             min-width: 388px;
//             padding-right: 38px;
//             margin-bottom: 0;
//           }
//         }
  
//         .action {
//           text-align: right;
//           flex-grow: 1;
//         }
//       }
  
//       &.is-style-pancake-stacked {
//         .action .block-editor-block-list__block {
//           text-align: right;
//         }
//         .text {
//           flex-direction: column;
//           align-items: flex-start;
//           & > h2 {
//             min-width: 300px;
//             padding-right: 0;
//           }
//         }
//       }

//       &.is-style-left-aligned {
//         display: flex;
//         flex-wrap: wrap;
//         flex-direction: row;
//         text-align: left;
//         .icon {
//           padding-right: 20px;
//           & > div {
//             width: 50px;
//           }
//         }
//         .text {
//           flex-grow: 1;
//           flex-shrink: 1;
//           flex-basis: 300px;
//         }
//         &.has-icon .action {
//           padding-left: 65px;
//         }
//         .action {
//           flex-basis: 100%;
//           .ui.mailchimp.form {
//             max-width: 420px;
//           }
//         }
//       }
//     }

//   // Editor Only Styles:
//   .block-editor-block-list__block {
//     margin-top: 0!important;
//     margin-bottom: 0!important;
//   }
//   .components-button.block-list-appender__toggle.block-editor-button-block-appender {
//     margin: 0;
//   }
// }
