$breakpoint-tablet: 920px;

.wp-block-prc-block-promo {
    padding: 24px 40px;
    margin-top: 21px;
		margin-bottom: 21px;
    clear: both;
    
    text-align: center;
    font-size: 16px;

    border-width: 1px;
    border-style: solid;
    border-color: transparent;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .text {
      padding-bottom: 24px;

      h2 {
        font-size: 21px;
        line-height: 26px;
      }
      p {
        font-size: 16px;
        line-height: 21px;
      }
    }

    .action {
      min-height: 36px;
      .button {
        font-size: 15px        !important;
        font-weight: 500       !important;
        letter-spacing: 0.05em !important;
        min-width: 120px;
        text-align: center     !important;
        margin-left: auto      !important;
        margin-right: auto     !important;
      }
    }

    // Horizontal "Pancake" Styles:
    @media (min-width: $breakpoint-tablet) {
      &.pancake,
      &.is-style-pancake,
      &.is-style-pancake-stacked {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-align: left;

        .icon,
        .text {
          margin-right: 1em;
        }
  
        .text {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-bottom: 0;
  
          & > h2 {
            min-width: 388px;
            padding-right: 38px;
            margin-bottom: 0;
          }
        }
  
        .action {
          text-align: right;
          flex-grow: 1;
        }
      }
  
      &.is-style-pancake-stacked {
        .action .block-editor-block-list__block {
          text-align: right;
        }
        .text {
          flex-direction: column;
          align-items: flex-start;
          & > h2 {
            min-width: 300px;
            padding-right: 0;
          }
        }
      }
    }

  .wp-block-prc-block-mailchimp-form {
    min-width: 420px;
  }
  // Editor Only Styles:
  .block-editor-block-list__block {
    margin-top: 0!important;
    margin-bottom: 0!important;
  }
  .components-button.block-list-appender__toggle.block-editor-button-block-appender {
    margin: 0;
  }
}
