$breakpoint-tablet: 920px;

.wp-block-prc-block-promo {
    padding: 24px 40px;
    margin-top: 21px;
		margin-bottom: 21px;
    clear: both;
    
    text-align: center;
    font-size: 16px;

    border-width: 1px;
    border-style: solid;
    border-color: #E2E2E2;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .text {
      padding-bottom: 24px;

      h2 {
        font-size: 21px;
        line-height: 26px;
      }
      p {
        font-size: 16px;
        line-height: 21px;
      }
    }

    .action {
      .button {
        font-size: 15px        !important;
        font-weight: 500       !important;
        letter-spacing: 0.05em !important;
        min-width: 120px;
        text-align: center     !important;
        margin-left: auto      !important;
        margin-right: auto     !important;
      }
      .block-editor-block-list__block {
        margin-top: 0;
        margin-bottom: 14px;
      }
    }

    // Horizontal "Pancake" Styles:
    @media (min-width: $breakpoint-tablet) {
      &.pancake,
      &.is-style-pancake,
      &.is-style-pancake-stacked {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
  
        .text {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-bottom: 0;
  
          & > h2 {
            min-width: 388px;
            padding-right: 38px;
            margin-bottom: 0;
          }
        }
  
        .action {
          text-align: right;
          margin-left: 35px;
          flex-grow: 1;
        }
      }
  
      &.is-style-pancake-stacked {
        .action .block-editor-block-list__block {
          text-align: right;
        }
        .text {
          flex-direction: column;
          align-items: flex-start;
          & > h2 {
            min-width: 300px;
            padding-right: 0;
          }
        }
      }
    }

}
