$padding: 1em;
$background: #f5f5f5;
$border: 1px solid #ccc;
$iconWidth: 35px;

.wp-block-prc-block-daily-briefing-signup {
    background-color: $background;
    border: $border;
    padding: $padding;
    .wp-block-prc-block-promo {
        margin: 0;
        padding: 0;
        & > .wp-block-prc-block-promo__inner-container {
            margin: 0;
            grid-template-areas:
            'icon text'
            'action action'!important;
            grid-template-columns: $iconWidth minmax(320px, 475px)!important;
            align-items: flex-end!important;
            justify-content: flex-start!important;
            
            .ui.mailchimp.form>.fields .ui.input {
                max-width: 100%!important;
            }

            .wp-block-prc-block-promo__icon {
                & > img,
                & > div > svg {
                  width: $iconWidth;
                }
              }
        }
    }
}