/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-form-input-dropdown.wp-block {
	color: inherit;
	background: inherit;
	border: 1px solid rgba(34, 36, 38, 0.15);
}

.wp-block-prc-block-form-input-dropdown:not(.is-active) {
	// display: none;
	visibility: hidden;
	height: 30px;
}

.wp-block-prc-block-form-input-dropdown:not(.is-active) > :first-child {
	// display: block;
	visibility: visible;
	border: 1px solid rgba(34, 36, 38, 0.15);
	width: 100%;
	text-align: center;
}
