/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-form-input-dropdown.wp-block {
	color: inherit;
	background: inherit;
}

.wp-block-prc-block-form-input-dropdown:not(.is-active) {
	// display: none;
	visibility: hidden;
}

.wp-block-prc-block-form-input-dropdown:not(.is-active) > :first-child {
	visibility: visible;
}
