/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-form-input-dropdown {
	color: inherit;
	background: inherit;
	display: flex;
	flex-direction: column;
	position: relative;
}

.wp-block-prc-block-form-input-dropdown--inline {
	min-width: 80px;
	color: inherit;
	background: inherit;
	display: inline-flex;
	flex-direction: column;
}

.is-style-fluid {
	width: 100%;
}

.is-style-default {
	width: 50%;
}

.selection {
	// width: 350px;
	border: 1px solid rgba(34, 36, 38, 0.15);
	outline: none;

	&__text {
		display: inline-block;
	}
	&:hover {
		cursor: pointer;
		border: 1px solid black;
	}

	&__icon {
		float: right;
		&::before {
			content: '\25bc';
			float: right;
			color: gray;
		}
	}
}

.selection-list {
	height: 150px;
	// width: 350px;
	padding-inline-start: 0;
	margin-top: 0;
	overflow: auto;
	overflow-x: hidden;
	position: absolute;
	background-color: white;
	width: 100%;
	z-index: 4;
	top: 100%;
	border: 1px solid rgba(34, 36, 38, 0.15);
	border-radius: 0.25rem;

	&__item {
		padding: 0.1rem 0.25rem 0.1rem 0.25rem;
		&:hover {
			cursor: pointer;
			background-color: #f1f1f1;
		}
		&--selected {
			background-color: #f1f1f1;
			padding: 0.1rem 0.25rem 0.1rem 0.25rem;
		}
		&--no-results {
			color: gray;
		}
	}
}

.search-selection {
	// width: 350px;
	position: relative;

	&__text {
		width: 100%;
		position: absolute;
		z-index: -1;
		height: 30px;
		padding: 5px;

		&--light {
			@extend .search-selection__text;
			color: rgba(0, 0, 0, 0.5);
		}
	}

	&__input {
		width: 100%;
		border: 1px solid rgba(34, 36, 38, 0.15);
		background: none transparent !important;
		height: 30px;
		padding: 5px;
	}

	&__icon {
		position: absolute;
		right: 1px;
		cursor: pointer;
		&::before {
			content: '\25bc';
			color: gray;
		}
	}
}

.search-list {
	// height: 150px;
	// width: 350px;
	padding-inline-start: 0;
	margin-top: 0;
	overflow: auto;
	overflow-x: hidden;
	position: absolute;
	background-color: white;
	width: 100%;
	z-index: 4;
	top: 100%;
	border: 1px solid rgba(34, 36, 38, 0.15);
	border-radius: 0.25rem;

	&__item {
		list-style-type: none;
		padding: 0.1rem 0.25rem 0.1rem 0.25rem;

		&:hover {
			cursor: pointer;
			background-color: #f1f1f1;
		}
	}
}

.multi-selection {
	// width: 350px;
	min-height: 30px;
	position: relative;
	border: 1px solid rgba(34, 36, 38, 0.15);
	outline: none;
	&:hover {
		cursor: pointer;
		border: 1px solid black;
	}

	&__text {
		display: flex;
		flex-wrap: wrap;
	}
	&__text__item {
		display: flex;
		margin: 0.2em;
		padding: 0.2em;
		color: rgba(0, 0, 0, 0.6);
		border: 1px solid rgba(34, 36, 38, 0.15);
		border-radius: 0.25em;
		background-color: #e8e8e8;
		&:hover {
			cursor: pointer;
			color: black;
		}
	}
	&__icon {
		position: absolute;
		right: 1px;
		top: 1px;
		cursor: pointer;
		&::before {
			content: '\25bc';
			color: gray;
		}
	}
}

.multi-search-selection {
	@extend .multi-selection;
	padding-right: 1em;
	&:hover {
		cursor: text;
	}
	&__input {
		border: none;
		width: 2.2em;
		&:focus {
			outline: none;
		}
	}
	&__text {
		display: flex;
		flex-wrap: wrap;
	}
	&__text__item {
		display: flex;
		margin: 0.2em;
		padding: 0.2em;
		color: rgba(0, 0, 0, 0.6);
		border: 1px solid rgba(34, 36, 38, 0.15);
		border-radius: 0.25em;
		background-color: #e8e8e8;
		&:hover {
			cursor: pointer;
			color: black;
		}
	}
}

.dashicons-no {
	color: rgba(0, 0, 0, 0.6);
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	&:hover {
		color: black;
		cursor: pointer;
	}
}
