// Handle Animations:
/* Animations */
@keyframes bounceIn {
from,
20%,
40%,
60%,
80%,
to {
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

0% {
	opacity: 0;
	transform: scale3d(0.3, 0.3, 0.3);
}

20% {
	transform: scale3d(1.1, 1.1, 1.1);
}

40% {
	transform: scale3d(0.9, 0.9, 0.9);
}

60% {
	opacity: 1;
	transform: scale3d(1.03, 1.03, 1.03);
}

80% {
	transform: scale3d(0.97, 0.97, 0.97);
}

to {
	opacity: 1;
	transform: scale3d(1, 1, 1);
}
}
.wp-block-prc-block-dialog {
	/*   Open state of the dialog  */
	dialog[open] {
		animation-duration: 0.7s;
		animation-name: bounceIn;
	}

	@starting-style {
		dialog[open] {

		}
	}

	/*   Closed state of the dialog   */
	dialog {
		opacity: 0;
		transform: scale(0);
		transition:
		opacity 0.7s ease-in-out,
		transform 0.7s ease-in-out
		overlay 0.7s ease-in-out allow-discrete,
		display 0.7s ease-in-out allow-discrete;
		/* Equivalent to
		transition: all 0.7s allow-discrete; */
	}

	/*   Before-open state  */
	/* Needs to be after the previous dialog[open] rule to take effect,
	as the specificity is the same */


	/* Transition the :backdrop when the dialog modal is promoted to the top layer */
	dialog::backdrop {
		background-color: rgb(0 0 0 / 0%);
		transition:
		display 0.7s allow-discrete,
		overlay 0.7s allow-discrete,
		background-color 0.7s;
	}

	dialog[open]::backdrop {
		background-color: rgb(0 0 0 / 25%);
	}

	/* This starting-style rule cannot be nested inside the above selector
	because the nesting selector cannot represent pseudo-elements. */
	@starting-style {
		dialog[open]::backdrop {
			background-color: rgb(0 0 0 / 0%);
		}
	}
}
