.wp-block-prc-block-subtitle {
    --wp--preset--font-size--h-2: 24px;
	font-size: var(--wp--preset--font-size--h-2);
    font-style: italic;
    font-weight: normal;
    font-family: var(--wp--preset--font-family--serif, serif);
    line-height: 30px;
}

body.post-template-default .post-content > :first-child.wp-block-prc-block-subtitle { display: none; }

@media only screen and (max-width: 768px) {
	.wp-block-prc-block-subtitle {
		--wp--preset--font-size--h-2: 18.5px;
	}
}
