.wp-block-prc-block-subtitle {
    font-size: 24px;
    font-style: italic;
    font-weight: normal;
    font-family: var(--wp--preset--font-family--serif, serif);
    line-height: 30px;

    @media only screen and (max-width: var(--wp--custom--breakpoint--tablet)) {
        font-size: 18.5px;
    }
}
