@use '../../includes/common-styles/gutenberg-responsive-breaks' as *;

.wp-block-post-content {
	counter-reset: big-number;
	p a {
		text-decoration: underline;
	}
	h5 {
		font-family: var(--wp--preset--font-family--georgia) !important;
		font-style: italic !important;
		text-transform: none !important;
		font-size: 1em !important;
		letter-spacing: 0 !important;
	}

}

body:not(.post-template-layout-no-container-query) {
	.wp-block-post-content {
		container: post-content-container / inline-size;
	}
	.wp-block-post-content > figure:first-child.alignright + p {
		margin-top: 0;
	}

	// "Wide" content well, like in an essay.
	// We prevent this when the post-content block is the root container,
	// i.e. when the user is editing the post content BUT NOT previewing the full template.
	@container post-content-container (min-width: 860px) {
		.wp-block-post-content:not(.is-root-container) > .alignleft {
			margin-left: max(0px, calc((100% - var(--wp--style--global--wide-size)) / 2)) !important;
			margin-bottom: 1em;
		}
		.wp-block-post-content:not(.is-root-container) > .alignright {
			margin-right: max(0px, calc((100% - var(--wp--style--global--wide-size)) / 2)) !important;
			margin-bottom: 1em;
		}
	}
	// "Standard" content well.
	@container post-content-container (min-width: 639px) {
		.wp-block-post-content > .alignleft {
				margin-left: max(0px, calc((100% - var(--wp--style--global--content-size)) / 2));
				margin-bottom: 1em;
		}
		.wp-block-post-content > .alignright {
			margin-right: max(0px, calc((100% - var(--wp--style--global--content-size)) / 2));
			margin-bottom: 1em;
		}
	}
	@container post-content-container (max-width: 638px) {
		.wp-block-post-content > .alignright,
		.wp-block-post-content > .alignleft {
			margin-left: auto;
			margin-right: auto;
			float: none;
		}
	}

	// For headings inside post content, this will adjust their size on mobile.
	@container post-content-container (max-width: 480px) {
		.wp-block-post-content h1.wp-block-heading {
			font-size: 26px !important;
			line-height: 30px !important;
		}
		.wp-block-post-content h2.wp-block-heading {
			font-size: 22px !important;
			line-height: 22px !important;
		}
		.wp-block-post-content h3.wp-block-heading {
			font-size: 20px !important;
			line-height: 26px !important;
		}
		.wp-block-post-content h4.wp-block-heading {
			font-size: 18px !important;
			line-height: 20px !important;
		}
	}
}

body.post-template-layout-no-container-query {
	@media only screen and (max-width: 480px) {
		.wp-block-post-content .wp-block-image.alignright,
		.wp-block-post-content .wp-block-image.alignleft {
			margin-left: auto !important;
			margin-right: auto !important;
			float: none !important;
		}
	}
}
