.wp-block-post-content {
	counter-reset: big-number;
	p a {
		text-decoration: underline;
	}
	h5 {
		font-family: var(--wp--preset--font-family--georgia) !important;
		font-style: italic !important;
		text-transform: none !important;
		font-size: 1em !important;
		letter-spacing: 0 !important;
	}
}

// CSS Hack for fallback style for visited links.
.wp-block-post-content a:not(.wp-button-block__link):visited {
	color: light-dark(#611da7, #a370d6);
}
