/**
 * (WIP) Animations Framework
 */

.prc-animations {
	&__fade-in-down:not(.wp-block) {
		opacity: 0;
		transform: translateY(-30px);
		transition:
			opacity 1s ease,
			transform 1s ease;
	}

	&__fade-in-down.visible {
		opacity: 1;
		transform: translateY(0);
	}
}
