/**
 * Max Width
 */
@use "./variables/breakpoints.scss" as *;
@use "sass:math" as *;

.has-max-width-constraint {
	max-width: var(--max-width__desktop, inherit) !important;
}
.has-max-width-constraint {
	@media only screen and (max-width:  #{ ($break-medium) }) {
		max-width: var(--max-width__tablet, inherit) !important;
	}
}
.has-max-width-constraint {
	@media only screen and (max-width:  #{ ($break-small) }) {
		max-width: var(--max-width_mobile, inherit) !important;
	}
}
