/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-audio-player.wp-block {
	color: inherit;
	background: inherit;
}

.css-1pifbk2 {
	margin-bottom: 1em;
}

.player {
	display: flex;
	flex-wrap: wrap;

	&__image {
		margin-top: 0.5rem;
		width: 150px;
		height: 150px !important;
	}

	&__info {
		display: flex;

		img {
			// width: 150px;
			// height: 150px;
		}

		&--text {
			flex-basis: 75%;
			padding: 0 1rem;
		}
	}

	&__controls {
		flex-basis: 100%;
		display: flex;
		align-items: center;
		margin-top: 0.5rem;
	}

	&__button {
		margin: 0 0.75rem;
		background: black;
		color: white;
		border: none;
		border-radius: 10%;
		padding: 10px 20px;
		cursor: pointer;
		font-size: 1rem;
		transition:
			background 0.3s,
			transform 0.3s;
		outline: none;
		display: inline-block;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		font-family: monospace;
		vertical-align: middle;
	}

	&__button:hover {
		background: #333;
	}

	&__button:active {
		background: #555;
	}

	&__seeker {
		margin: 0 0.75rem;
		width: 70%;
		-webkit-appearance: none;
		appearance: none;
		width: 100%;
		height: 4px;
		background: black;
		outline: none;
		transition: opacity 0.2s;
	}
}

.editor-card {
	position: relative;
	background-color: transparent;
	// background: white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 12px;
	border-radius: 5px;
	padding: 0.5em;
	border: 0.5px solid black;
	outline: none;
}

.card {
	&__bar {
		content: "";
		position: absolute;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		// border-radius: 5px;
		top: 0;
		left: 0;
		height: 100%;
		background-color: #a7a9ac;
		z-index: -1;
	}
	&__time {
		margin-left: 6em;
	}
	&__icon {
		margin-right: 1em;
	}
}

.player__seeker::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 16px;
	height: 16px;
	background: white;
	border-radius: 50%;
	border: 1px solid black;
	cursor: pointer;
}
