/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

$default_gutter: 20px;

body.has-active-modal {
	overflow: hidden;
}

.wp-block-prc-block-popup-controller.is-style-video figure {
    margin-bottom: 0;
}
.wp-block-prc-block-popup-modal.is-video {
    padding: 0 !important;
}

.wp-block-prc-block-popup-content {
	cursor: pointer;
}

.wp-block-prc-block-popup-modal__outer {
	display: none;
	.wp-block-prc-block-popup-modal {
		display: none;
	}
	&.is-position-center-center {
		align-items: center;
		justify-content: center;
	}
	&.is-position-center-left {
		align-items: center;
		justify-content: flex-start;
	}
	&.is-position-center-right {
		align-items: center;
		justify-content: flex-end;
	}
	&.is-position-bottom-left {
		align-items: flex-end;
		justify-content: flex-start;
	}
	&.is-position-bottom-center {
		align-items: flex-end;
		justify-content: center;
	}
	&.is-position-bottom-right {
		align-items: flex-end;
		justify-content: flex-end;
	}
	&.is-position-top-left {
		align-items: flex-start;
		justify-content: flex-start;
	}
	&.is-position-top-center {
		align-items: flex-start;
		justify-content: center;
	}
	&.is-position-top-right {
		align-items: flex-start;
		justify-content: flex-end;
	}

	.wp-block-prc-block-popup-modal {
		width: 100%;
		max-width: calc(640px * 1.5);
		position: relative;
		background: transparent;

		&__close-button {
			--offset: var(--gutter, 20px);
			position: absolute;
			right: calc(-1*var(--offset));
			top: calc(-1*var(--offset));
			cursor: pointer;
			color: white;
		}
		&:not(:has(.wp-block-videopress-video)).has-background {
			border-radius: 5px;
			padding: var(--gutter, $default_gutter);
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
		}

		.wp-block-prc-block-popup-modal--header,
		.wp-block-prc-block-popup-modal__header {
			margin-bottom: calc( var(--gutter, $default_gutter) * 1.3 );
			padding-bottom: calc( var(--gutter, $default_gutter) * 1.3 );
			border-bottom: 1px solid #eee;

			h2 {
				margin: 0;
			}
		}

		.wp-block-prc-block-popup-modal--inner,
		.wp-block-prc-block-popup-modal__inner {
			max-height: 90vh;
			overflow-y: auto;
		}

		.jetpack-videopress-player,
		.jetpack-videopress-player .jetpack-videopress-player__wrapper,
		.jetpack-video-wrapper {
			margin: 0!important;
		}
	}
}
.wp-block-prc-block-popup-modal__outer:has(.wp-block-prc-block-popup-modal.is-active) {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 30;
	padding: 1em;
	.wp-block-prc-block-popup-modal.is-active {
		position: relative;
		display: block;
	}
}

// Handle Animations:
.wp-block-prc-block-popup-controller {
	&.is-active .wp-block-prc-block-popup-modal__outer.animate-in {
		opacity: 0;
		animation: fade-in 1s forwards;
		/* Pop in inner div */
		.wp-block-prc-block-popup-modal {
			transform: scale(0);
			animation: pop-in 0.5s 1s forwards;
		}
	}

	/* Pop out inner div and fade out outer div */
	.wp-block-prc-block-popup-modal__outer.animate-out {
		animation: fade-out 1s forwards;
		.wp-block-prc-block-popup-modal {
			animation: pop-out 0.5s forwards;
		}
	}
}


/* Fade in outer div */

/* Animations */
@keyframes fade-in {
from { opacity: 0; }
to { opacity: 1; }
}

@keyframes pop-in {
from { transform: scale(0); }
to { transform: scale(1); }
}

@keyframes fade-out {
from { opacity: 1; }
to { opacity: 0; }
}

@keyframes pop-out {
from { transform: scale(1); }
to { transform: scale(0); }
}
