@mixin accordion {
	&:not(.is-vertical-tabs) > div {
		flex-direction: column !important;
		border: 1px solid var(--color-border) !important;
		.wp-block-prc-block-tabs-menu {
			max-width: 100% !important;
		}
	}
	.wp-block-prc-block-tabs-menu {
		flex-direction: column !important;
		align-items: stretch !important;
		gap: 0px !important;
		border: none !important;
		padding: 0px !important;
		border-right: 1px solid var(--color-border) !important;

		.wp-block-prc-block-tabs-menu-item {
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 100% !important;
			@container (max-width: 600px) {
				text-align: center !important;
				border-bottom: 1px solid var(--color-border) !important;
			}
			text-align: left !important;
			border-radius: 0px !important;
			border: none !important;
			margin: 0px !important;
			padding: 1.4em 1.8em !important;
			&:first-child {
				border-top: none !important;
			}
			&:after {
				content: ">";
				flex-grow: 1;
				text-align: right;
			}
			&[aria-selected="true"],
			&.wp-block.is-selected {
				background-color: var(--color-active);
				border-left: 1px solid var(--color-border) !important;
				border-top: 1px solid var(--color-border) !important;
				border-bottom: 1px solid var(--color-border) !important;
			}
		}
	}
	.wp-block-prc-block-tabs-panes {
		padding: 1em !important;
	}
}

.wp-block-prc-block-tabs-menu.block-editor-block-list__block {
	margin-bottom: 0 !important;
}
.wp-block-prc-block-tabs-panes.block-editor-block-list__block {
	margin-top: 0 !important;
}

.wp-block-prc-block-tabs {
	--border-radius: 3px;
	--color-border: #ddd;
	--color-active: #eee;
	--color-hover: #eee;

	box-sizing: border-box;

	margin-block-end: 1.5em;
	container-type: inline-size;

	& > div {
		display: flex;
		gap: 0px;
	}

	.wp-block-prc-block-tabs-menu,
	.wp-block-prc-block-tabs-panes {
		margin: 0 !important;
	}

	// When this block reaches 480px it will convert to an accordion.
	// All of these are set to important to override all other styles, this must always become an accordion.
	@container (max-width: 480px) {
		&:not(.is-style-minimal, .is-slider) {
			@include accordion;
		}
	}
	&.is-style-accordion {
		@include accordion;
	}

	// Fallback font-family for when the block does not have a set style.
	&:not(.is-style-tabbed) .wp-block-prc-block-tabs-menu,
	&:not(.is-style-text) .wp-block-prc-block-tabs-menu {
		font-family: var(--wp--preset--font-family--sans-serif);
	}

	&:not(.is-vertical-tabs) .wp-block-prc-block-tabs-menu {
		overflow-x: auto;
	}

	// Default styling for all menu items:
	.wp-block-prc-block-tabs-menu {
		display: flex;
		padding-left: 0;
		list-style: none;
		gap: 5px;
		box-sizing: border-box;
		& > li {
			display: block;
		}
		button.wp-block-prc-block-tabs-menu-item {
			-webkit-appearance: none;
			appearance: none;
			background-color: inherit;
			font-family: inherit;
			&:hover {
				opacity: 0.8;
			}
			&:visited {
				color: inherit;
			}
		}
		.wp-block-prc-block-tabs-menu-item {
			display: inline-block;
			box-sizing: border-box;
			cursor: pointer;
			border-radius: var(--border-radius);
			border: 1px solid var(--color-border);
			margin: 0;
			padding: 0.75em 1em;
			line-height: 1;

			&:focus {
				outline: none;
				box-shadow: none;
			}

			&:focus,
			&:hover {
				background-color: var(--color-hover);
				opacity: 0.9;
			}

			&[aria-selected="true"],
			&.is-active {
				// background-color: var(--color-active);
				font-weight: bold;
			}
		}
	}

	&.is-horizontal-tabs {
		& > div {
			flex-direction: column;
		}
		.wp-block-prc-block-tabs-menu {
			flex-direction: row;
		}
		.wp-block-prc-block-tabs-menu,
		.wp-block-prc-block-tabs-panes {
			width: 100%;
		}
		&.is-style-tabbed .wp-block-prc-block-tabs-menu,
		&:not(.is-style-text) .wp-block-prc-block-tabs-menu {
			border-bottom: 1px solid var(--color-border);
			.wp-block-prc-block-tabs-menu-item {
				border-bottom: 0;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				margin-right: 5px;
				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}

	&:not(.is-style-accordion).is-vertical-tabs {
		.wp-block-prc-block-tabs-menu,
		div.wp-block-prc-block-tabs-menu.wp-block {
			max-width: 250px !important;
		}
	}

	&.is-vertical-tabs {
		& > div {
			flex-direction: row;
		}
		.wp-block-prc-block-tabs-menu,
		div.wp-block-prc-block-tabs-menu.wp-block {
			max-width: 250px !important;
			width: 100% !important;
			flex-direction: column;
			align-items: flex-end;
		}
		.wp-block-prc-block-tabs-panes {
			padding-left: 1em;
			flex-grow: 1;
			width: 100%;
		}
		&.is-style-tabbed .wp-block-prc-block-tabs-menu,
		&:not(.is-style-text) .wp-block-prc-block-tabs-menu {
			border-right: 1px solid var(--color-border);
			.wp-block-prc-block-tabs-menu-item {
				border-right: 0;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				margin-bottom: 5px;
				text-align: right;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}

	&.is-style-text .wp-block-prc-block-tabs-menu {
		.wp-block-prc-block-tabs-menu-item {
			border-radius: 0;
			border: none;
			background: none;
			&[aria-selected="true"],
			&.is-active {
				background-color: transparent;
				font-weight: bold;
			}
		}
	}

	&.is-style-minimal {
		& > div {
			flex-direction: column-reverse;
		}
		.wp-block-prc-block-tabs-menu {
			justify-content: flex-end;
			border: none !important;
			.wp-block-prc-block-tabs-menu-item {
				border-radius: 0;
				border: none;
				background: none;
				&[aria-selected="true"],
				&.is-active {
					background-color: transparent;
					font-weight: bold;
				}
			}
		}
	}
	.wp-block-prc-block-tabs-panes {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		.wp-block-prc-block-tabs-pane {
			flex-grow: 1;
			margin: 0;
			&:not(.is-active) {
				display: none;
			}
			& > div:after {
				content: "";
				display: table;
				clear: both;
			}
		}
	}
}

/*!
 * # Fomantic-UI 2.9.3 - Slider
 * https://github.com/fomantic/Fomantic-UI/
 *
 *
 * Released under the MIT license
 * https://opensource.org/licenses/MIT
 *
 */
.wp-block-prc-block-tabs.is-slider {
	.slider-group {
		display: flex;
		flex-direction: row;
		@container (max-width: 600px) {
			flex-direction: column-reverse;
			justify-content: center;
			align-items: center;
		}
	}
	.slider__button {
		width: 100px;
		height: 30px;
		font-family: var(--wp--preset--font-family--sans-serif);
		font-size: var(--wp--preset--font-size--small-label);
		color: var(--wp--preset--color--ui-black);
		margin-left: 0.5em;
		margin-right: 1.2em;
		margin-top: 0.2em;
		margin-bottom: 0.2em;
		background-color: var(--wp--preset--color--ui-white);
		border-radius: 3px;
		border: 1px solid var(--wp--preset--color--ui-gray-light);
		&:hover {
			background-color: var(--wp--preset--color--ui-gray-light);
			cursor: pointer;
		}
	}
	.wp-block-prc-block-tabs-menu:not(.block-editor-block-list__block) {
		display: none;
	}
	.ui.slider:not(.vertical):not(.checkbox) {
		width: 100%;
		padding: 1em 0.5em;
	}
	.ui.slider:not(.checkbox) {
		position: relative;
	}
	.ui.slider:not(.checkbox):focus {
		outline: 0;
	}
	.ui.slider .inner {
		position: relative;
		z-index: 2;
	}
	.ui.slider:not(.vertical) .inner {
		height: 1.5em;
	}
	.ui.slider .inner:hover {
		cursor: auto;
	}
	.ui.slider .inner .track {
		position: absolute;
		border-radius: 4px;
		background-color: rgba(0, 0, 0, 0.05);
	}
	.ui.slider:not(.vertical) .inner .track {
		width: 100%;
		height: 0.4em;
		top: 0.5em;
		left: 0;
	}
	.ui.slider .inner .track-fill {
		position: absolute;
		border-radius: 4px;
		background-color: #1b1c1d;
	}
	.ui.slider:not(.vertical) .inner .track-fill {
		height: 0.4em;
		top: 0.5em;
		left: 0;
	}
	.ui.slider .inner .thumb {
		position: absolute;
		left: 0;
		top: 0;
		height: 1.5em;
		width: 1.5em;
		background: #fff linear-gradient(transparent, rgba(0, 0, 0, 0.05));
		border-radius: 100%;
		box-shadow:
			0 1px 2px 0 rgba(34, 36, 38, 0.15),
			0 0 0 1px rgba(34, 36, 38, 0.15) inset;
		transition: background 0.3s ease;
	}
	.ui.slider:not(.disabled) .inner .thumb:hover {
		cursor: pointer;
		background: #f2f2f2 linear-gradient(transparent, rgba(0, 0, 0, 0.05));
	}
	.ui.slider:not(.disabled):focus .inner .thumb {
		background: #f2f2f2 linear-gradient(transparent, rgba(0, 0, 0, 0.05));
	}
	.ui.disabled.slider:not(.checkbox) {
		opacity: 0.5;
	}
	.ui.disabled.slider .inner:hover {
		cursor: auto;
	}
	.ui.disabled.slider .inner .track-fill {
		background: #ccc;
	}
	.ui.reversed.slider .inner .track-fill {
		left: auto;
		right: 0;
	}
	.ui.reversed.slider:not(.vertical) .inner .thumb {
		left: auto;
		right: 0;
	}
	.ui.reversed.vertical.slider .inner .thumb {
		left: 0.03em;
	}
	.ui.labeled.reversed.slider > .labels .label {
		transform: translate(-100%, -100%);
	}
	.ui.vertical.slider {
		height: 100%;
		width: 1.5em;
		padding: 0.5em 1em;
	}
	.ui.vertical.slider .inner {
		height: 100%;
	}
	.ui.vertical.slider .inner .track {
		height: 100%;
		width: 0.4em;
		left: 0.55em;
		top: 0;
	}
	.ui.vertical.slider .inner .track-fill {
		width: 0.4em;
		left: 0.55em;
		top: 0;
	}
	.ui.vertical.reversed.slider .inner .thumb {
		top: auto;
		bottom: 0;
	}
	.ui.vertical.reversed.slider .inner .track-fill {
		top: auto;
		bottom: 0;
	}
	.ui.labeled.slider > .labels {
		height: 1.5em;
		width: auto;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
	}
	.ui.labeled.slider:not(.vertical) > .labels {
		transform: translateY(-50%);
	}
	.ui.labeled.slider > .labels .label {
		display: inline-flex;
		padding: 0.2em 0;
		position: absolute;
		transform: translate(-50%, -100%);
		white-space: nowrap;
	}
	.ui.bottom.aligned.labeled.slider > .labels .label {
		bottom: 0;
		transform: translate(-50%, 100%);
	}
	.ui.labeled.ticked.slider > .labels .label::after {
		content: " ";
		height: 1.5em;
		width: 1px;
		background: #ccc;
		position: absolute;
		top: 100%;
		left: 50%;
	}
	.ui.bottom.aligned.labeled.ticked.slider > .labels .label::after {
		top: auto;
		bottom: 100%;
	}
	.ui.labeled.ticked.slider > .labels .halftick.label::after {
		height: 0.75em;
	}
	.ui.labeled.vertical.slider > .labels {
		width: 1.5em;
		height: auto;
		left: 50%;
		top: 0;
		bottom: 0;
		transform: translateX(-50%);
	}
	.ui.labeled.vertical.slider > .labels .label {
		transform: translate(-100%, -50%);
	}
	.ui.labeled.vertical.slider > .labels .label::after {
		width: 1.5em;
		height: 1px;
		left: 100%;
		top: 50%;
	}
	.ui.labeled.vertical.slider > .labels .halftick.label::after {
		width: 0.75em;
		height: 1px;
	}
	.ui.labeled.vertical.reversed.slider > .labels .label {
		transform: translate(-100%, 50%);
	}
	.ui.hover.slider .inner .thumb {
		opacity: 0;
		transition: opacity 0.2s linear;
	}
	.ui.hover.slider:not(.disabled):focus .inner .thumb,
	.ui.hover.slider:not(.disabled):hover .inner .thumb {
		opacity: 1;
	}

	.ui.labeled.slider {
		padding: 1em 0.5em 0em 0.5em !important;
		&:focus .inner .thumb {
			background-color: var(--wp--preset--color--ui-gray-dark);
		}
		.labels {
			transform: translateY(0%) !important;
			li.label {
				font-family: var(--wp--preset--font-family--sans-serif);
				font-size: var(--wp--preset--font-size--small-label);
				text-transform: none;

				.label-text--rotate {
					transform: translate(0, -5px) rotate(-45deg);
					@container (max-width: 300px) {
						transform: none;
					}
				}
				&:after {
					height: 1em !important;
				}
			}
		}
		.inner {
			.track {
				border-radius: 0px;
			}
			.track-fill {
				background-color: rgba(0, 0, 0, 0.05);
			}
			.thumb {
				top: 4px;
				height: 1em;
				width: 1em;
				background-color: var(--wp--preset--color--ui-black);
				&:hover {
					background-color: var(--wp--preset--color--ui-gray-dark);
				}
			}
		}
	}
}
