.wp-block-prc-block-taxonomy-index-az-list {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			a {
				color: inherit;
				text-decoration: none!important;
				&:hover {
					text-decoration: underline!important;
				}
			}
		}
	}
}
