.wp-block-social-link {
	a {
		align-items: center;
		display: flex;
		line-height: 0;
		transition: transform 0.1s ease;
	}

	&:hover {
		transform: none!important;
	}
}

.wp-block-social-links.is-style-logos-only .wp-social-link {
	margin-bottom: 0!important;
}
