
.story-item-link {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 10px;
  .components-base-control,
  .components-base-control__field  {
    margin-bottom: 0!important;
  }
}

.story-label-select > .components-base-control__field {
   margin-bottom: 0;
}

.story-item {
  div.components-base-control__field {
    margin-bottom: 0;
  }
}
.components-popover__content {
  padding-bottom: 0.5rem;
}
.components-datetime__time {
  display: none;
}