@use "../../../../themes/prc_parent/src/scss/master.variables.scss" as variables;
@use "../../../../themes/prc_parent/src/scss/colors.scss" as colors;
@use "../../../../themes/prc_parent/src/scss/functions.scss" as functions;
@use "../../../../themes/prc_parent/src/scss/mixins.scss" as mixins;
@use "sass:math";

/* Responsive */
$itemSpacing: 0em 0em 1rem 0em;

$mobileImageWidth: 690px;

/* Header */
$headerColor: colors.$darkTextColor;
$headerLinkColor: $headerColor;
//
$headerSmallFontSize: 18px;
$headerSmallFontWeight: 400;
$headerSmallLineHeight: 25px;
//
$headerSmallAltFontSize: 18px;
$headerSmallAltFontWeight: variables.$bold;
$headerSmallAltLineHeight: 23px;
//
$headerFont: variables.$postTitleFont;
//
$headerMediumFontSize: 20px;
$headerMediumFontWeight: 700;
$headerMediumLineHeight: 26px;
//
$headerLargeFontSize: 28px;
$headerLargeFontWeight: variables.$bold;
$headerLargeLineHeight: 34px;

/* Extras Content */
$extraHorizontalSpacing: 0.5rem;
$extraRowSpacing: 0.5rem;
$extraMargin: 1em 0 0 0;

/* Relaxed */
$relaxedItemSpacing: 0 0 21px 0;
$veryRelaxedItemSpacing: 0 0 28px 0;

/* Divided */
$dividedBorder: 1px solid colors.$borderColor;

/* Glow Gradient */
$placeholderLoadingAnimationDuration: 2s;
$placeholderLoadingGradientWidth: 1200px;
$placeholderLoadingGradient: linear-gradient(to right,
    rgba(0, 0, 0, 0.08) 0%,
    rgba(0, 0, 0, 0.15) 15%,
    rgba(0, 0, 0, 0.08) 30%);
$placeholderInvertedLoadingGradient: linear-gradient(to right,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(255, 255, 255, 0.14) 15%,
    rgba(255, 255, 255, 0.08) 30%);

@mixin imageLoading() {
    animation: placeholderShimmer $placeholderLoadingAnimationDuration linear;
    animation-iteration-count: infinite;
    background-color: colors.$white;
    background-image: $placeholderLoadingGradient;
    background-size: $placeholderLoadingGradientWidth 100%;
}

@keyframes placeholderShimmer {
    0% {
        background-position: -$placeholderLoadingGradientWidth 0;
    }

    100% {
        background-position: $placeholderLoadingGradientWidth 0;
    }
}

.wp-block-prc-block-story-item,
.story.item {
    display: grid;
    gap: 0px;
    grid-auto-flow: column;
    grid-template-areas:
        "image"
        "meta"
        "header"
        "description"
        "extras"
        "breakingnews";
    margin: 0;
    padding: 0;
    width: 100%;
    background: transparent;
    border: none;
    transition: box-shadow variables.$defaultDuration variables.$defaultEasing;
    z-index: '';

    &.bordered {
        padding: 21px!important;
        border: 1px solid #d3d3d3;
        margin-bottom: 2rem;
    }

    &.aligned {
        grid-auto-flow: row;
    }

    &.top,
    &.bottom {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    
    &.top.aligned {
        grid-template-areas:
          "image"
          "meta"
          "header"
          "description"
          "extras"
          "breakingnews";
        .image {
            margin: 0 0 21px 0;
        }
    }

    &.bottom.aligned {
        grid-template-areas:
            "meta"
            "header"
            "description"
            "extras"
            "breakingnews"
            "image";
        .image {
            margin: 21px 0 0 0;
        }
    } 

    &.left,
    &.right {
        grid-column-gap: 23px;
    }

    &.left.aligned {
        grid-template-columns: 1fr 2fr;
        &[data-image-size="A1"] {
            grid-template-columns: variables.$A1 2fr;
        }
        &[data-image-size="A2"] {
            grid-template-columns: variables.$A2 2fr;
        }
        &[data-image-size="A3"] {
            grid-template-columns: variables.$A3 2fr;
        }
        &[data-image-size="A4"] {
            grid-template-columns: variables.$A4 2fr;
        }
        &[data-image-size="XL"] {
            grid-template-columns: variables.$A1 2fr;
        }
        grid-template-rows: auto;
        grid-template-areas:
          "image meta"
          "image header"
          "image description"
          "image extras"
          "image breakingnews";
    }

    &.right.aligned {
        grid-template-columns: 2fr 1fr;
        &[data-image-size="A1"] {
            grid-template-columns: 2fr variables.$A1;
        }
        &[data-image-size="A2"] {
            grid-template-columns: 2fr variables.$A2;
        }
        &[data-image-size="A3"] {
            grid-template-columns: 2fr variables.$A3;
        }
        &[data-image-size="A4"] {
            grid-template-columns: 2fr variables.$A4;
        }
        &[data-image-size="XL"] {
            grid-template-columns: 2fr variables.$A1;
        }
        grid-template-rows: auto;
        grid-template-areas:
          "meta image"
          "header image"
          "description image"
          "extras image"
          "breakingnews image";
    }

    .meta {
        grid-area: meta;
        padding-bottom: 18px;
        font-size: 12px;
    }

    /* Image */
    .image {
        grid-area: image;

        // Chart Art
        &.bordered > img {
            border: 1px solid #dadada;
        }

        &.A1 > img {
            max-width: $mobileImageWidth;
            @media only screen and (min-width: variables.$largestMobileScreen) {
                max-width: variables.$A1;
                &:not(.loaded) {
                    width: variables.$A1;
                    height: variables.$A1Height;
                    @include imageLoading();
                }
            }
        }

        &.A2 > img {
            max-width: $mobileImageWidth;
            @media only screen and (min-width: variables.$largestMobileScreen) {
                max-width: variables.$A2;
                &:not(.loaded) {
                    width: variables.$A2;
                    height: variables.$A2Height;
                    @include imageLoading();
                }
            }
        }

        &.A3 > img {
            max-width: variables.$A3Small;
            @media only screen and (min-width: variables.$largestMobileScreen) {
                max-width: variables.$A3;
                &:not(.loaded) {
                    width: variables.$A3;
                    height: variables.$A3Height;
                    @include imageLoading();
                }
            }
        }

        &.A4 > img {
            max-width: $mobileImageWidth;
            @media only screen and (min-width: variables.$largestMobileScreen) {
                max-width: variables.$A4;
                &:not(.loaded) {
                    width: variables.$A4;
                    height: variables.$A4Height;
                    @include imageLoading();
                }
            }
        }

        &.XL > img {
            max-width: variables.$XL;
        }

        & > img,
        & > a {
            display: block;
            margin: 0;
            width: 100%;
            height: auto;
            border-radius: 0px;
        }
    }

    .header {
        grid-area: header;

        @media only screen and (max-width: variables.$largestMobileScreen) {
            display: block;
        }

        display: inline-block;
        font-family: $headerFont;
        color: $headerColor;
        -ms-word-wrap: break-word;
        word-wrap: break-word;

        // .medium
        font-size: $headerMediumFontSize;
        font-weight: $headerMediumFontWeight;
        line-height: $headerMediumLineHeight;

        &.large {
            font-size: $headerLargeFontSize;
            font-weight: $headerLargeFontWeight;
            line-height: $headerLargeLineHeight;
        }

        &.small {
            font-size: $headerSmallFontSize;
            font-weight: $headerSmallFontWeight;
            line-height: $headerSmallLineHeight;
        }

        &.light {
            font-weight: normal;
        }

        & > a {
            color: $headerColor;
            text-decoration: none;

            &:hover {
                color: $headerColor !important;
                text-decoration: underline;
            }
        }
    }

    .description {
        grid-area: description;
        margin: 10px 0 0 0;
        font-size: 16px;
        line-height: variables.$lineHeight;
        color: colors.$textColor;
        p {
            margin: 0 0 7px 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .description a,
    .extra a {
        color: colors.$trueBlack;
        transition: color variables.$defaultDuration variables.$defaultEasing;
        &:hover {
            color: colors.$trueBlack;
        }
    }

    // For when breaking news is enabled but extras are not.
    .description + ul.extra-breaking-news {
        margin: $extraMargin;
    }

    .extra {
        grid-area: extras;
    }
    .extra-breaking-news {
        grid-area: breakingnews;
    }

    .extra,
    .extra-breaking-news {
        @include mixins.clearfix();
        display: block;
        margin: $extraMargin;
        width: 100%;
        color: colors.$darkTextColor;
        font-family: variables.$sansSerifFont;
        font-size: 15px;
        transition: color variables.$defaultDuration variables.$defaultEasing;

        .kicker-breaking-news {
            display: inline;
        }
    }

    // Make extra and extra breaking news attached.
    ul.extra + ul.extra-breaking-news {
        margin: 0;
    }

    ul.extra,
    ul.extra-breaking-news {
        list-style-position: outside;
        padding-left: 1em;

        li {
            margin: $extraRowSpacing $extraHorizontalSpacing $extraRowSpacing 0;
        }
    }

    // @TODO what is this combination, where does this appear?
    ul.extra-breaking-news > li,
    div.extra > * {
        margin: $extraRowSpacing $extraHorizontalSpacing $extraRowSpacing 0;
    }
}
// End .wp-block-prc-block-story-item

/**
 * Misc Layout Styles:
 *
 * 1. A single story item block in a column block.
 * 2. Conescutive story items in a wp-query block.
 * 3. A single story item block inside Gutenberg editor.
 *
 *
 */

// 1.
.wp-block-prc-block-column > .wp-block-prc-block-story-item:only-child {
    @media only screen and (max-width: variables.$largestMobileScreen) {
        margin: $itemSpacing;
        padding: $itemSpacing;
        border-bottom: $dividedBorder;
    }
}

// 2.
div[data-type="prc-block/wp-query"] > .item {
    margin: $itemSpacing;
    padding: $itemSpacing;
    border-bottom: $dividedBorder;
}


/**
 * Consecutive Story Items
 */

.ui.items,
.ui[class*="story items"] {
    & > .item,
    & > .wp-block-prc-block-story-item {
        font-size: variables.$relativeMedium;
    }

    &.divided > .story.item:not(:last-of-type) {
        border-bottom: $dividedBorder;
    }

    &.relaxed > .wp-block-prc-block-story-item > .item:not(:last-of-type),
    &.relaxed > .item:not(:last-of-type) {
        padding: $relaxedItemSpacing;
        margin: $relaxedItemSpacing;
        
        & + .story.item.bordered {
            margin-top: -22px;
        }
    }
    
    &[class*="very realxed"] > .wp-block-prc-block-story-item .item:not(:last-of-type),
    &[class*="very relaxed"] > .item:not(:last-of-type) {
        padding: $veryRelaxedItemSpacing;
        margin: $veryRelaxedItemSpacing;
        & + .story.item.bordered {
            margin-top: -29px;
        }
    }
}

/**
 * Responsive Layouts
 */

/* Tablet Only */
@media only screen and (min-width: variables.$tabletBreakpoint) and (max-width: variables.$largestTabletScreen) {}

/* Mobile Only */
// On mobile and items not explicitly defined as being unstackable should stack
@media only screen and (max-width: variables.$largestMobileScreen) {
    .ui.items .item {
        padding: $veryRelaxedItemSpacing;
    }
}