.wp-block-prc-block-responsive-container-controller {
    margin-bottom: 1.5em;
    &:not(.block-editor-block-list__block) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

	.wp-block-prc-block-responsive-container-view {
		flex-direction: column;
	}
}
