@use "./style/animations.scss";
@use "./style/css-helpers-library.scss";
@use "./style/max-width.scss";
@use "./style/sticky.scss";

// Give all blocks and the site blocks a border box model.
.wp-site-blocks *,
.wp-block {
	box-sizing: border-box;
}

// Good ol' clearfix.
.clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

// Enforce a no-margin, no-padding reset on all blocks that utilize these classnames.
.no-border {
	border: none !important;
}
.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
