/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-social-share-sheet.wp-block {
	color: inherit;
	background: inherit;
	.block-editor-block-list__layout {
		gap: inherit;
		display: flex;
		flex-direction: row;
	}
}
