/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-social-share-sheet {
	font-size: inherit;
	color: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	font-weight: inherit;
	gap: inherit;
	display: flex;
	flex-direction: row;
	cursor: pointer;
	.wp-block-prc-block-social-share-sheet__label {
		display: inline-block;
		text-transform: inherit;
	}
	&.has-text-align-left > a,
	&.has-text-align-left > button {
		justify-content: flex-start;
	}
	&.has-text-align-center > a,
	&.has-text-align-center > button {
		justify-content: center;
	}
	&.has-text-align-right > a,
	&.has-text-align-right > button {
		justify-content: flex-end;
	}
	&.web-share-supported {
		& > li {
			display: none !important;
		}
		& > a {
			display: flex !important;
			align-items: center;
			span {
				line-height: 1;
			}
		}
	}
	&:not(.web-share-supported) {
		& > a {
			display: none !important;
		}
	}
}

.wp-block-prc-block-social-share-sheet > button,
.wp-block-prc-block-social-share-sheet > a {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	background: none;
	box-shadow: none;
	padding: 0;
	margin: 0;
	font: inherit;
	color: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-decoration: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	text-transform: inherit;
}

// The social links block should inherit the font size from the parent element when we're using this block.
.wp-block-social-links.has-small-icon-size:has(
		.wp-block-prc-block-social-share-sheet
	) {
	font-size: inherit !important;
	font-size: inherit !important;
	color: inherit !important;
	line-height: inherit !important;
	letter-spacing: inherit !important;
	font-weight: inherit !important;
}
