/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-taxonomy-menu {
	&:not(.wp-block) {
		overflow-x: overlay;
	}
	.wp-block-prc-block-taxonomy-menu-link {
		&.has-border-color {
			border-width: 1px;
			border-radius: 3px;
			border-color: transparent;
			border-style: solid;
		}
		padding: .7857142857em 1.5em;
		text-align: center;
		text-decoration: none;
		transition: opacity .1s ease, background-color .1s ease,color .1s ease, box-shadow .1s ease,background .1s ease;
		min-width: -moz-fit-content;
		min-width: fit-content;
	}
	&.is-style-secondary {
		border-top: 0;
		border-right: 0;
		border-left: 0;
		border-bottom-width: 2px;
		.wp-block-prc-block-taxonomy-menu-link {
			border: none;
			&.is-active {
				position: relative;
				border-bottom: 2px solid #000;
				margin-bottom: -2px;
			}
		}
	}
}
