/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-accordion-controller.wp-block {
	color: inherit;
	background: inherit;

	&:not(.has-child-selected):not(.is-selected) > .block-list-appender.wp-block {
		display: none;
	}

	& > .block-list-appender.wp-block {
		width: 100%;
		position: relative;
	}
}
