.wp-block-prc-block-social-share-url-field {
	display: flex;
	flex-direction: row;
	align-items: center;

	.label {
		font-family: var(--wp--preset--font-family--sans-serif);
		line-height: 1;
		color: rgba(0,0,0,.6);
		font-weight: 400;
		font-size: 12px;
		text-transform: uppercase;
		min-width: 120px;
	}

	.wp-block-prc-block-form-input-text {
		flex-grow: 1;
		input {
			cursor: pointer;
			flex-grow: 1;
			width: 100%;
		}
	}
}

// Align the social share URL field within social links. It should always grow to fill the available space.
.wp-block-social-links > .wp-block-prc-block-social-share-url-field {
	flex-grow: 1;
	&:first-child {
		justify-content: flex-start;
	}
	&:last-child {
		justify-content: flex-end;
	}
}
