/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-prc-block-tabs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.75em;

	.prc-block-tabs__title {
		display: none;
	}

	.prc-block-tabs__content,
	.prc-block-tabs__list {
		flex-grow: 1;
		flex-basis: 100%;
	}

	.prc-block-tabs__list {
		display: flex;
		gap: 10px;
		list-style: none;
		margin: 0;
		padding: 0;
		overflow-x: auto;
		font-family: var(--wp--preset--font-family--sans-serif);

		.prc-block-tabs__tab-label {
			display: block;
			width: max-content;
			margin: 0;
			opacity: 1;
			padding: 0.5em 1em;
			text-decoration: none;
			cursor: pointer;
			background-color: var(--custom-tab-background-color);
			color: var(--custom-tab-text-color);
			&:hover {
				opacity: 0.8;
				color: var(--custom-tab-hover-text-color);
			}
			&[aria-selected="true"] {
				opacity: 1;
				color: var(--custom-tab-active-text-color);
			}
		}
	}


	&.is-orientation-vertical {
		flex-wrap: nowrap;
		.prc-block-tabs__list,
		.prc-block-tabs__content {
			flex: none;
		}
		.prc-block-tabs__list {
			flex-direction: column;
		}
	}

	&.is-style-tabbed {
		.prc-block-tabs__list {
			border-bottom: 1px solid var(--custom-tab-active-color);
		}
		.prc-block-tabs__tab-label {
			border-radius: 0.5em 0.5em 0 0;
			&:hover {
				background-color: var(--custom-tab-hover-color);
			}
			&[aria-selected="true"] {
				background-color: var(--custom-tab-active-color);
			}
		}
	}

	&.is-style-tabbed-outline {
		.prc-block-tabs__list {
			border-bottom: 1px solid var(--custom-tab-active-color);
		}
		.prc-block-tabs__tab-label {
			border-radius: 0.5em 0.5em 0 0;
			border-top: 1px solid transparent;
			border-left: 1px solid transparent;
			border-right: 1px solid transparent;
			&:hover {
				border-top-color: var(--custom-tab-hover-color);
				border-left-color: var(--custom-tab-hover-color);
				border-right-color: var(--custom-tab-hover-color);
			}
			&[aria-selected="true"] {
				border-top-color: var(--custom-tab-active-color);
				border-left-color: var(--custom-tab-active-color);
				border-right-color: var(--custom-tab-active-color);
			}
		}
	}
	&.is-orientation-vertical.is-style-tabbed,
	&.is-orientation-vertical.is-style-tabbed-outline {
		.prc-block-tabs__list {
			border-right: 1px solid var(--custom-tab-active-color)!important;
			border-bottom: none!important;
		}
		.prc-block-tabs__tab-label {
			border-radius: 0.5em 0 0 0.5em;
		}
	}
	&.is-orientation-vertical.is-style-tabbed-outline .prc-block-tabs__tab-label {
		border-bottom: 1px solid transparent;
		border-right: none!important;
		&:hover {
			border-bottom-color: var(--custom-tab-hover-color);
		}
		&[aria-selected="true"] {
			border-bottom-color: var(--custom-tab-active-color);
		}
	}


	&.is-style-underlined {
		.prc-block-tabs__list {
			border-bottom: 1px solid var(--custom-tab-hover-color);
		}
		.prc-block-tabs__list-item {
			border-bottom: 2px solid transparent;
			padding-bottom: 0.5em;
		}
		.prc-block-tabs__list-item:has([aria-selected="true"]) {
			border-color: var(--custom-tab-active-color)!important;
		}
		.prc-block-tabs__list-item:has([aria-selected="false"]):hover {
			border-color: var(--custom-tab-hover-color)!important;
		}
	}
	&.is-style-underlined-pills {
		.prc-block-tabs__list {
			border-bottom: 1px solid var(--custom-tab-hover-color);
		}
		.prc-block-tabs__list-item {
			border-bottom: 2px solid transparent;
			padding-bottom: 0.5em;
		}
		.prc-block-tabs__list-item:has([aria-selected="true"]) {
			border-color: var(--custom-tab-active-color)!important;
		}
		.prc-block-tabs__tab-label {
			&:hover:not([aria-selected="true"]) {
				border-radius: 9999px;
				background-color: var(--custom-tab-hover-color)!important;
			}
		}
	}

	&.is-orientation-vertical.is-style-underlined,
	&.is-orientation-vertical.is-style-underlined-pills {
		.prc-block-tabs__list {
			border-bottom: none;
			border-right: 1px solid var(--custom-tab-hover-color);
		}
		.prc-block-tabs__list-item {
			border-bottom: none;
			border-right: 2px solid transparent;
			padding-bottom: 0;
			padding-right: 0.5em;
		}
	}

	&.is-style-pills {
		.prc-block-tabs__tab-label {
			border-radius: 9999px;
			&:hover {
				background-color: var(--custom-tab-hover-color);
			}
			&[aria-selected="true"] {
				background-color: var(--custom-tab-active-color);
			}
		}
	}
	&.is-orientation-vertical.is-style-pills {
		.prc-block-tabs__tab-label {
			border-radius: 0.5em;
		}
	}
}
