/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-collection-kicker {
	color: inherit;
	background: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}



/**
Add special styles i.e. "Election 2024" and "Asian Americans Package" for kickers below:
*/

.wp-block-prc-block-collection-kicker {
	&.collection-term__election-2024 > span {
		position: relative;
		left: -4px;
		top: -4px;
	}
	&.collection-term__being-asian-in-america {
		span {
			position: relative;
			left: 4px;
		}
		a {
			color: #819646;
		}
	}
}
