.wp-block-prc-block-mailchimp-select {
	display: flex;
	flex-direction: column;
	gap: 14px;
	input {
		max-width: 303px;
		width: 100%;
	}
	button {
		-webkit-appearance: none;
		appearance: none;
		border: none;
		margin: 0;
		padding: 0;
		background: none;
		font-size: inherit;
	}
}
