@use "../../../../themes/prc_parent/src/scss/master.variables.scss" as variables;
@use "../../../../themes/prc_parent/src/scss/colors.scss" as colors;
@use "../../../../themes/prc_parent/src/scss/functions.scss" as functions;
@use "../../../../themes/prc_parent/src/scss/mixins.scss" as mixins;
@use "sass:math";

.big-number {
    color: #d7b236;
    content: counter(section);
    counter-increment: section;
    float: left;
    font-family: franklin-gothic-urw, Verdana, Geneva, sans-serif;
    font-size: 21px;
    font-weight: 500;
    margin-right: 13px;
    padding-bottom: 1rem;
    padding-top: .15rem;
    opacity: 81%;
}

.wp-block-prc-block-popular-listing {
	display: flex;
	padding-bottom: 15px;
	margin-bottom: 15px;
	&:not(:last-child) {
		border-bottom: 1px solid colors.$borderColor;
	}
	.title {
		font-family: variables.$postTitleFont;
		font-size: 18px;
		line-height: 23px;
		font-weight: 400;
		color: colors.$darkTextColor;
	}
}
