#prc-az-index-menu {
    .item {
        font-size: 18px;
        font-weight: 700;
        padding: 0.5em;
        flex-grow: 1;
        &:hover {
            text-decoration: underline;
        }
    }
}

.wp-block-prc-block-topic-index-az-controller {
    &.ui.accordion {
        .wp-block-prc-block-topic-index-az {
            padding-left: 2.4em;
        }
    }
}