/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-report-pagination {
	color: inherit;
	background: inherit;
	display: flex;
	flex-direction: column;

	.wp-block-prc-block-report-pagination__next-post-button {
		display: flex;
		width: 100%;
		font-size: 0.875em;
		padding: 1em;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		&:hover {
			opacity: 0.65;
		}
	}
}
