/*-------------------
     Breakpoints
--------------------*/

$mobileBreakpoint: 320px;
$iPhoneBreakpoint: 390px;
$smallTabletBreakpoint: 666px;
$tabletBreakpoint: 768px;
$computerBreakpoint: 992px;
$largeMonitorBreakpoint: 1200px;
$widescreenMonitorBreakpoint: 1920px;

/* Responsive */
$mediumMobileScreen: $iPhoneBreakpoint;
$largestMobileScreen: ($tabletBreakpoint - 1px);
$largestTabletScreen: ($computerBreakpoint - 1px);
$largestSmallMonitor: ($largeMonitorBreakpoint - 1px);
$largestLargeMonitor: ($widescreenMonitorBreakpoint - 1px);

$A1: 564px;
$A1Small: 345px;
$A1SmallHeight: 194px;
$A1Height: 317px;
$A2: 268px;
$A2Small: $A1Small;
$A2SmallHeight: 194px;
$A2Height: 151px;
$A3: 194px;
$A3Small: 148px;
$A3SmallHeight: 84px;
$A3Height: 110px;
$A4: 268px;
$A4Small: $A1Small;
$A4SmallHeight: 194px;
$A4Height: 151px;
$XL: 720px;
$XLHeight: 405px;
$mobileImageWidth: 690px;

@mixin imageSize($size) {
	// Mobile first

	@if $size == "A1" {
		img {
			max-width: $mobileImageWidth;
			@media only screen and (min-width: $largestMobileScreen) {
				max-width: $A1;
			}
		}
		img {
			@media only screen and (min-width: $largestMobileScreen) {
				height: $A1Height;
			}
		}
	}

	@if $size == "A2" {
		img {
			max-width: $mobileImageWidth;
			@media only screen and (min-width: $largestMobileScreen) {
				max-width: $A2;
			}
		}
		img {
			@media only screen and (min-width: $largestMobileScreen) {
				height: $A2Height;
			}
		}
	}

	@if $size == "A3" {
		img {
			max-width: $A3Small;
			@media only screen and (min-width: $largestMobileScreen) {
				max-width: $A3;
			}
		}
		img {
			@media only screen and (min-width: $largestMobileScreen) {
				height: $A3Height;
			}
		}
	}

	@if $size == "A4" {
		img {
			max-width: $mobileImageWidth;
			@media only screen and (min-width: $largestMobileScreen) {
				max-width: $A4;
			}
		}
		img {
			@media only screen and (min-width: $largestMobileScreen) {
				height: $A4Height;
			}
		}
	}
}

.image {
	grid-area: image;
	img {
		width: 100%;
		height: auto;
	}
	// Chart Art
	&.bordered {
		img {
			border: 1px solid #dadada;
		}
	}

	&.A1 {
		@include imageSize("A1");
	}

	&.A2 {
		@include imageSize("A2");
	}

	&.A3 {
		@include imageSize("A3");
	}

	&.A4 {
		@include imageSize("A4");
	}

	&.XL > img,
	&.XL > source {
		max-width: $XL;
	}
}
