
$maxWidth: 1127px;

div.wp-block[data-type="prc-block/grid"],
div.wp-block[data-type="prc-block/grid"] > .ui.grid > .wp-block.block-list-appender,
div.wp-block[data-type="prc-block/grid"] > .wp-block.block-list-appender {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: $maxWidth!important;
  width: 100%;
}
div.wp-block[data-type="prc-block/grid"] {
  .block-editor-block-list__block {
    margin-top: inherit;
  }
}
div.wp-block[data-type="prc-block/grid"] > .ui.grid > .wp-block.block-list-appender,
div.wp-block[data-type="prc-block/grid"] > .block-editor-block-list__layout > .wp-block.block-list-appender {
  & > .components-button {
    background-color: #f9f9f9;
    flex-direction: row;
    &:after {
      display: inline;
      content: 'Add Row';
    }
  }
}
div.wp-block[data-type="prc-block/grid"] .block-editor-block-list__layout:not(.ui.grid) div.wp-block[data-type="prc-block/row"]:not(.has-placeholder),
div.wp-block[data-type="prc-block/grid"] .block-editor-block-list__layout.ui.grid div.wp-block[data-type="prc-block/row"],
div.wp-block[data-type="prc-block/grid"] > .ui.grid > .wp-block.block-list-appender {
  max-width: calc(100% + 3rem)!important;
  width: calc(100% + 3rem)!important;
}
// Make all blocks inside a column take up the width and not exceed the column width.
div.wp-block[data-type="prc-block/column"],
div.wp-block[data-type="prc-block/column"] > .wp-block {
  max-width: 100%!important;
}