/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-color-palette {
	display: flex;
 	align-items: flex-end;
	color: inherit;
	background: inherit;
	width: 100px;
	height: 100px;
	cursor: pointer;

	.color-text {
		flex-basis: 100%;
		background-color: rgba(255,255,255,0.5);
	}
}
