$standard_logo_minimum_width: 360px;

// create mixin called hasWhiteColor...
@mixin hasWhiteColor() {
	[data-browser-theme="dark"] {
		display: flex;
	}
	[data-browser-theme="light"] {
		display: none;
	}
}

.wp-block-prc-block-logo {
	min-width: 100px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	container: prc-logo / inline-size;

	svg,
	img {
		width: 100%;
	}

	.wp-block-prc-block-logo__dimensions {
		display: flex;
		align-items: center;
	}

	&:not(.is-selected) .wp-block-prc-block-logo__dimensions {
		width: 100%!important;
	}

	&.item-justified-left {
		justify-content: flex-start;
	}
	&.item-justified-center {
		justify-content: center;
	}
	&.item-justified-right {
		justify-content: flex-end;
	}

	.wp-block-prc-block-logo__inner__logo {
		display: flex;
	}
	.wp-block-prc-block-logo__inner__logo-alt,
	[data-browser-theme="dark"] {
		display: none;
	}

	&.has-white-color {
		@include hasWhiteColor();
	}
	&.has-dark-mode-support .wp-block-prc-block-logo__inner {
		@media (prefers-color-scheme: dark), (prefers-dark-interface) {
			@include hasWhiteColor();
		}
	}

	&.is-style-container-aware .wp-block-prc-block-logo__inner {
		@container prc-logo (min-width: 360px) {
			.wp-block-prc-block-logo__inner__logo-alt {
				display: flex;
			}
			.wp-block-prc-block-logo__inner__logo {
				display: none;
			}
		}
	}

	&.is-style-primary-only .wp-block-prc-block-logo__inner {
		.wp-block-prc-block-logo__inner__logo-alt {
			display: none;
		}
		.wp-block-prc-block-logo__inner__logo {
			display: flex;
		}
	}

	&.is-style-alt-only .wp-block-prc-block-logo__inner {
		.wp-block-prc-block-logo__inner__logo-alt {
			display: flex;
		}
		.wp-block-prc-block-logo__inner__logo {
			display: none;
		}
	}

	.wp-block-prc-block-logo__inner {
		max-width: $standard_logo_minimum_width !important;
		width: 100%;
		margin: 0!important;
	}
}
