.wp-block-prc-block-carousel-slide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	// Ensure content inside the "slide" keep the dimensions of their content and not the parent.
	& > div {
		height: fit-content;
		width: 100%;
		max-width: 540px;
		opacity: 0.9;
		box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.40);
		padding: 1.2em;
	}
}
