.wp-block-prc-block-table-of-contents {
	margin-top: 24px;

	&:not(.is-style-dropdown):not(.is-switched),
	&[data-auto-dropdown-enabled="false"] {
		.wp-block-prc-block-table-of-contents__heading.is-hidden {
			display: none;
		}
		.wp-block-prc-block-table-of-contents__dropdown__heading {
			display: none;
		}
	}

	.wp-block-prc-block-table-of-contents__dropdown__heading {
		padding: 1em 0.5em !important;
		.wp-block-prc-block-table-of-contents__dropdown-trigger {
			cursor: pointer;
			background: none;
			appearance: none;
			box-shadow: none;
			border: none;
		}
	}

}

.wp-block-prc-block-table-of-contents.is-style-dropdown,
.wp-block-prc-block-table-of-contents[data-auto-dropdown-enabled="true"].is-switched {
	.wp-block-prc-block-table-of-contents__heading {
		display: none;
	}

	& > .wp-block-prc-block-table-of-contents__list {
		max-height: 60vh;
		overflow-y: auto;
	}

	.wp-block-prc-block-table-of-contents__list {
		margin-top: 0;
	}

	&[aria-expanded] .wp-block-prc-block-table-of-contents__list,
	&[aria-expanded="false"] .wp-block-prc-block-table-of-contents__list {
		display: none;
	}
	&[aria-expanded="true"] .wp-block-prc-block-table-of-contents__list {
		display: block;
	}
	.wp-block-prc-block-table-of-contents__list-item:not(.is-active) .wp-block-prc-block-table-of-contents__list {
		display: none;
	}
}

.wp-block-group.is-position-sticky.js-is-sticky:has(.wp-block-prc-block-table-of-contents.is-style-dropdown) {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
	.wp-block-prc-block-table-of-contents.is-style-dropdown {
		max-height: 100vh;
		overflow-y: auto;
		width: calc(100% + (var(--wp--style--root--padding-right) * 2));
		left: calc(var(--wp--style--root--padding-left) * -1);
		position: relative;
		.wp-block-prc-block-table-of-contents__dropdown__heading {
			padding: 1em var(--wp--style--root--padding-left) !important;
		}
	}
}

.wp-block-prc-block-table-of-contents {
	details > summary {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.5em;
		font-weight: bold;
		font-size: 1.125em;
		cursor: pointer;
		&:before {
			--icon: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22circle-plus%22%20viewBox%3D%220%200%20512%20512%22%3E%0A%3Cpath%20fill%3D%22black%22%20d%3D%22M256%2032a224%20224%200%201%201%200%20448%20224%20224%200%201%201%200-448zm0%20480A256%20256%200%201%200%20256%200a256%20256%200%201%200%200%20512zM240%20352c0%208.8%207.2%2016%2016%2016s16-7.2%2016-16l0-80%2080%200c8.8%200%2016-7.2%2016-16s-7.2-16-16-16l-80%200%200-80c0-8.8-7.2-16-16-16s-16%207.2-16%2016l0%2080-80%200c-8.8%200-16%207.2-16%2016s7.2%2016%2016%2016l80%200%200%2080z%22%2F%3E%0A%3C%2Fsvg%3E);
			background-image: var(--icon);
		}

	}
	details[open] > summary:before {
		--icon: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22circle-minus%22%20viewBox%3D%220%200%20512%20512%22%3E%0A%3Cpath%20fill%3D%22black%22%20d%3D%22M256%2032a224%20224%200%201%201%200%20448%20224%20224%200%201%201%200-448zm0%20480A256%20256%200%201%200%20256%200a256%20256%200%201%200%200%20512zM160%20240c-8.8%200-16%207.2-16%2016s7.2%2016%2016%2016l192%200c8.8%200%2016-7.2%2016-16s-7.2-16-16-16l-192%200z%22%2F%3E%0A%3C%2Fsvg%3E);
	}
	details > summary::marker,
	details > summary::-webkit-details-marker {
		display: none
	}
	details > summary:before {
		content: "";
		display: block;
		width: 1.25em;
		height: 1.25em;
		background-size: contain;
		background-repeat: no-repeat;
	}
	details {
		ul.wp-block-prc-block-table-of-contents__list {
			padding: 0;
			margin: 0;
			margin-left: 1.2em;
		}
	}
}
