// For posts with sidebar driven TOC.
#prc-mobile-toc {
	position: sticky;
	top: 0;
	.wp-block-group.mobile-toc {
		position: relative;
	}
}

.wp-block-group:not(.wp-block) {
	&.mobile-toc {
		margin-bottom: 1em;
		padding-bottom: 1em;
		background: var(--wp--preset--color--white)!important;
		border-top: 1px solid #dadbdb;
		border-bottom: 1px solid #dadbdb;
		position: sticky;
		top: 0;
		h3 {
			cursor: pointer;
			padding-top: 1em;
			margin-bottom: 0;
			letter-spacing: .1em;
			&:after {
				font-family: var(--prc--icon--dropdown--family);
				content: var(--prc--icon--dropdown--content);
				display: block;
				float: right;
			}
		}
		.wp-block-prc-block-table-of-contents {
			padding-top: 1em;
		}
		&.is-open {
			h3:after {
				transform: rotate(180deg) scaleX(-1);
			}
		}
	}
	&.mobile-toc:not(.is-open) .wp-block-prc-block-table-of-contents {
		display: none;
	}
}

// .prc-widget-toc {
//     background: white;

//     // Default styling of items, whether they be in a list or a dropdown.
//     .item {
//         padding: 5px 10px;

//         a {
//             line-height: 140% !important;
//             color: black !important;
//         }

//         &:hover a {
//             color: black !important;
//         }

//         // Disable bold font weight on sub list items
//         &.active .item {
//             font-weight: normal !important;
//         }
//     }

//     &.rail {
//         .widget-content {
//             padding: 0;
//         }
//     }

//     .list .list .item:last-of-type,
//     .menu .list .item:last-of-type {
//         padding-bottom: 0px !important;
//     }

//     &.stuck {
//         background-color: white;
//         box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
//         width: calc(100% + 2em);
//         margin-left: -1em;
//         padding-left: 1em;
//         padding-right: 1em;

//         .ui.dropdown {
//             border: 0;
//         }

//         .menu.visible {
//             width: calc(100% + 2em);
//             margin-left: -1em;
//         }
//     }
// }
