/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-code-syntax.wp-block {
	position: relative;
	line-height: 160% !important;

	.wp-block-prc-block-code-syntax__edit {
	  white-space: pre-wrap !important;
	  z-index: 0;
	}
  
	.wp-block-prc-block-code-syntax__compiled {
	  position: absolute;
	  top: 20px;
	  left: 20px;
	  right: 20px;
	  z-index:1;
	  pointer-events: none;
	  pre {
		margin-top: 0 !important;
		pointer-events: none;
		display: inline-grid;
		white-space: pre-wrap !important;
		max-width:100%;
		code {
		  pointer-events: none;
		  max-width:100%;
		  overflow:auto;
		}
	  }
	}
}
