.ui.image {
	.components-base-control .components-base-control__field {
		display: flex;
	}
	.components-base-control .components-base-control__label {
		min-width: 80px;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
	}
	img {
		display: block;
	}
	.image-editor-toolbar {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		background-color: rgba(240, 242, 243, 0.71);
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
	}
}