div[data-type="prc-block/flip-card"] {
    z-index: 2;
}

div[data-type="prc-block/flip-card-front"],
div[data-type="prc-block/flip-card-back"] {
    margin: 0;
}

.wp-block-prc-block-flip-card > .components-resizable-box__container {
    padding: 1em;
    border: 1px solid white;
}

// .block-editor-block-list__block[data-align="right"] {
//     float: right;
//     .wp-block[data-align="right"] {
//         float: none;
//         margin: 0;
//     }
// }