figure.wp-block-pullquote {
	--max-width: 420px;
	--default--border-color: #8c8c8c;

	color: #565656;
	padding: 0;
	margin-bottom: 20px;
	font-size: 20px;
	blockquote {
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		color: inherit!important;
		padding: 24px;
		margin: 0!important;
	}
	p {
		text-align: left;
		font-size: inherit!important;
		line-height: 30px!important;
		&:first-child:before {
			content: "“";
			margin-right: 4px;
		}
		&:last-of-type {
			margin-bottom: 30px!important;
			&:after {
				content: "”";
				margin-left: 4px;
			}
		}
	}
	&.has-text-align-center p {
		text-align: center;
	}
	&.has-text-align-right p {
		text-align: right;
	}
	cite,
	.wp-block-pullquote__citation {
		max-width: var(--max-width);
		display: block!important;
		padding: 0!important;
		float: right;
		text-align: right;
		color: inherit!important;
		font-size: 15px!important;
		font-family: var(--wp--preset--font-family--sans-serif);
		line-height: 18px!important;

		letter-spacing: inherit!important;
		text-transform: inherit!important;

		&:before {
			border-bottom: 1px solid var(--default--border-color);
			content: "";
			display: inline-block;
			height: 1px;
			width: 10px;
			margin-right: 5px;
			margin-bottom: 4px;
			position: relative;
		}
	}
}

.wp-block[data-align="left"] figure.wp-block-pullquote,
.wp-block[data-align="right"] figure.wp-block-pullquote,
figure.wp-block-pullquote.alignleft,
figure.wp-block-pullquote.alignright {
	max-width: var(--max-width);
}

.wp-block[data-align="left"] figure.wp-block-pullquote,
figure.wp-block-pullquote.alignleft {
	float: left;
}

.wp-block[data-align="right"] figure.wp-block-pullquote,
figure.wp-block-pullquote.alignright {
	float: right;
}
