.wp-block-prc-block-table {
	box-sizing: border-box;

	> table {
		&.has-fixed-layout {
			table-layout: fixed;
		}

		&.is-sticky-header:not(.is-stacked-on-mobile) thead {
			position: sticky;
			top: 0;
			z-index: 1;
		}

		&.is-sticky-first-column tr > *:first-child {
			position: sticky;
			left: 0;
			z-index: 1;
		}

		th,
		td {
			box-sizing: border-box;
			min-width: auto;
			word-break: normal;
			overflow-wrap: anywhere;

			img {
				max-width: 100%;
			}
		}
	}

	&.is-content-justification-left,
	&.is-content-justification-center,
	&.is-content-justification-right {
		display: flex;
		flex-flow: column;

		figcaption {
			align-self: stretch;
		}
	}

	&.is-content-justification-left {
		align-items: flex-start;
	}

	&.is-content-justification-center {
		align-items: center;
	}

	&.is-content-justification-right {
		align-items: flex-end;
	}

	td {
		&:hover {
			background-color: var(--hover-background-color) !important;
		}
	}

	figcaption {
		font-style: italic;
	}

	h4 {
		font-family: inherit;
		margin: 0;
		width: 100%;
	}

	.prc-block-table-title {
	}

	.prc-block-table-source-note {
		margin-top: 1em;
	}

	.prc-block-table-caption {
		margin-top: 1em;
	}
}

/**
 * Responsive Tables
 */
@media screen and (min-width: 641px) {
	.wp-block-prc-block-table.is-scroll-on-pc {
		overflow-x: scroll;
	}
	.wp-block-prc-block-table.is-scroll-on-pc table {
		max-width: none;
		align-self: self-start;
	}
}

@media screen and (max-width: 640px) {
	.wp-block-prc-block-table.is-scroll-on-mobile {
		overflow-x: scroll;
	}
	.wp-block-prc-block-table.is-scroll-on-mobile table {
		max-width: none;
		align-self: self-start;
	}
	.wp-block-prc-block-table table.is-stacked-on-mobile th,
	.wp-block-prc-block-table table.is-stacked-on-mobile td {
		width: 100% !important;
		display: block;
	}
}
