@use "../../../../themes/prc_parent/src/scss/master.variables.scss" as variables;
@use "../../../../themes/prc_parent/src/scss/colors.scss" as colors;
@use "../../../../themes/prc_parent/src/scss/functions.scss" as functions;
@use "../../../../themes/prc_parent/src/scss/mixins.scss" as mixins;
@use "sass:math";

$relaxedBorder: #e6e7e6;
$altCardHeaderPadding: 1em;
$altCardLineHeight: 1.28571429em;
$altCardMargin: 1rem;
$breakpoint: 767px;

.column > .wp-block-group.is-style-card-alt,
#secondary.column > .prc-block-area {
	@media only screen and (min-width: $breakpoint) {
		margin-left: -1.5rem;
	}
}

body.admin-bar .prc-group-block--sticky.sticky {
	top: 32px;
}
.prc-group-block--sticky.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 10;
	.wp-block-group.alignleft,
	.wp-block-group.alignright {
		background: rgb(255 255 255 / 50%);
	}
	& > .wp-block-group > .wp-block-group {
		height: fit-content!important;
	}
}

// When a align full cover is before an alignfull group we want to add padding to the group.
.wp-block-cover.alignfull + .wp-block-group.alignfull {
	margin-top: -2em;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 2em;
	padding-right: 2em;
}

.wp-block-group {
	& > :last-child {
		margin-bottom: 0;
	}

	.block-editor-block-list__layout > .wp-block {
		max-width: 1152px !important
	}

	&.has-background {
		padding: 1em;
		margin-bottom: 2em;
	}

	&.is-style-social-group {
		border-bottom: 1px solid var(--wp--preset--color--gray);
		margin-block-end: 1.5em;
		.wp-block-social-links {
			background: white;
			padding-top: 0.65em;
			padding-bottom: 0.5em;
		}
	}

	&.is-style-callout {
		border-top: 1px solid $relaxedBorder;

		p {
			font-family: var(--wp--preset--font-family--sans-serif);
			font-size: 14px;
		}

		.wp-block-group__inner-container ul li {
			font-family: var(--wp--preset--font-family--sans-serif) !important;
			font-size: 13px;
		}
	}

	&.is-style-card-alt {
		@media only screen and (min-width: $breakpoint) {
			padding-left: $altCardMargin;
			padding-right: $altCardMargin;
		}

		padding-bottom: $altCardMargin;

		.is-style-sub-header {
			padding: 9px $altCardHeaderPadding;
			margin-left: -$altCardMargin!important;
			margin-right: -$altCardMargin!important;
			max-width: calc(100% + 2rem) !important;
			margin-bottom: $altCardMargin;
			line-height: $altCardLineHeight;
			font-weight: normal;
			letter-spacing: 0.1em;

			a {
				color: white;
			}
		}
	}

	&.relaxed {
		.ui.button {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	// Ensures grid blocks take up the full width of a group.
	div[data-type="prc-block/columns"] {
		max-width: 100% !important;
	}

	&.alignright {
		@media only screen and (min-width: variables.$largestTabletScreen) {
			/*rtl:ignore*/
			clear: right;
			float: right;
			margin-left: 1em;
			/*rtl:ignore*/
		}
	}
	&.alignleft {
		@media only screen and (min-width: variables.$largestTabletScreen) {
			/*rtl:ignore*/
			clear: left;
			float: left;
			margin-right: 1em;
			/*rtl:ignore*/
		}
	}

}

// Soon to be Deprecated Block Styles, utilize the new block layout options instead.
.wp-block-group {
	&.aligncenter {
		&.is-style-640-wide,
		&.is-style-420-wide,
		&.is-style-300-wide,
		&.is-style-200-wide {
			margin-left: auto!important;
			margin-right: auto!important;
		}
	}
	&.is-style-200-wide {
		width: 100%;
		max-width: 200px!important;
	}

	&.is-style-300-wide {
		width: 100%;
		max-width: 300px!important;
	}

	&.is-style-420-wide {
		width: 100%;
		max-width: 420px!important;
	}

	&.is-style-640-wide {
		width: 100%;
		max-width: 640px!important;
	}
}

.wp-block-group.essay--toolbar {
    display: flex;
    align-items: center;
	width: 100%;
	padding: 1em 0;
	.wp-block-social-links {
		padding-top: 0!important;
		margin-top: 0!important;
	}

	.wp-block-post-date {
		flex-grow: 1;
	}
}
