/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
// Default Cover Style:
.wp-block-cover {
	margin-bottom: 2em;
	&:not(.has-custom-content-position) {
		justify-content: center;
		align-items: center;
	}
	.wp-block-cover__inner-container {
		color: inherit!important; // If you need to set a color for text do so on each element or child group.
	}
	.wp-block-cover__inner-container:not(:has(.wp-block-prc-block-carousel-controller)) > [class*="wp-block-"] {
		--cover-content-width: var(--wp--custom--content-size);
		&.wp-block-post-title {
			--cover-content-width: calc(var(--wp--custom--content-size) + 280px);
		}
		margin-left: auto;
		margin-right: auto;
		max-width: var(--cover-content-width);
	}
	.wp-block-cover__inner-container:has(.wp-block-prc-block-carousel-controller) .wp-block-prc-block-carousel-controller {
		height: 100%;
	}
	& > .wp-block-cover__inner-container {
		& > .wp-block-prc-block-post-bylines,
		& > .wp-block-post-date,
		& > .wp-block-post-title {
			text-shadow: 0px 1px 2px rgba(0,0,0,.8);
			&.has-text-color a {
				color: inherit;
			}
		}
	}
}

// Collapse cover block on mobile
@media screen and (max-width: 785px) {
	.wp-block-cover:not(.is-style-disable-mobile-collapse) {
		flex-direction: column!important;
		margin-bottom: 0; // The content inside should provide its own bottom margin.
		min-height: auto!important;
		padding-top: 0;
		.wp-block-prc-block-post-bylines,
		.wp-block-post-date,
		.wp-block-post-title {
			text-shadow: none!important;
		}
		&[style] {
			min-height: auto!important;
		}
		video.wp-block-cover__video-background,
		img.wp-block-cover__image-background {
			position: relative!important;
			margin-left: -2em;
			margin-right: -2em;
			max-width: calc(100% + 2em)!important;
			width: calc(100% + 2em)!important;
		}
		.has-text-align-center {
			text-align: left!important;
		}
		.has-text-color {
			color: var(--wp--preset--color--ui-text-color)!important;
		}
		.wp-block-cover__inner-container {
			padding-top: 1em;
			.wp-block-post-title {
				font-size: 36px!important;
				line-height: 115%!important;
			}
			& > [class*="wp-block-"] {
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0!important;
				}
			}
		}
		.wp-block-cover__background,
		.wp-block-spacer {
			display: none!important;
		}
	}
}
