.wp-block-prc-block-taxonomy-tree {
    border-bottom: 1px solid #DEDEDF;
}

// Block Editor
div[data-type="prc-block/taxonomy-tree-list"] {
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.wp-block-prc-block-taxonomy-tree {
    // Styled for Gutenberg 9+
    .block-editor-button-block-appender {
        display: flex;
        flex-direction: row;
        margin-left: 0;
        width: 100%;
        opacity: 0.2 !important;
        &:hover {
            opacity: 1.0 !important;
        }
        .components-visually-hidden {
            position: relative;
            width: auto;
            clip-path: none;
            margin: 0;
        }
    }
}