/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-flip-card-controller.wp-block {
	color: inherit;
	background: inherit;
	&.is-initialized {
		// Editor Specific:
		// Wonky, but it works...
		&.is-flipped {
			.wp-block-prc-block-flip-card-side.is-style-back {
				display: block;
			}
			.wp-block-prc-block-flip-card-side.is-style-front {
				display: none;
			}
		}
		&:not(.is-flipped) {
			.wp-block-prc-block-flip-card-side.is-style-back {
				display: none;
			}
			.wp-block-prc-block-flip-card-side.is-style-front {
				display: block;
			}
		}
	}
}
