@use "sass:math";
@use "../../includes/common-styles/gutenberg-responsive-breaks" as *;

$relaxedBorder: #e6e7e6;
$altCardHeaderPadding: 1em;
$altCardLineHeight: 1.28571429em;
$altCardMargin: 1rem;

/**
* Divided Group Blocks
*/
.wp-block-group.has-interior-divider {
	& > [class*="wp-block-"] {
		border-bottom: 1px solid var(--divider-color);
		padding-bottom: var(--grid-gutter) !important;
		&:last-child {
			border-bottom: none;
			padding-bottom: 0 !important;
		}
	}
}

/**
* Responsive Group Blocks:
*/
/**
 * Max Width
 */
.wp-block-group.has-max-width-constraint {
	max-width: var(--max-width__desktop, inherit) !important;
}
.wp-block-group.has-max-width-constraint {
	@media only screen and (max-width:  #{ ($break-medium) }) {
		max-width: var(--max-width__tablet, inherit) !important;
	}
}
.wp-block-group.has-max-width-constraint {
	@media only screen and (max-width:  #{ ($break-small) }) {
		max-width: var(--max-width_mobile, inherit) !important;
	}
}
/**
 * Hide On Mobile
 */
@media only screen and (max-width:  #{ ($break-small) }) {
	html.block-editor-block-preview__content-iframe .wp-block-group[data-hide-on-mobile="true"].wp-block,
	.wp-block-group[data-hide-on-mobile="true"]:not(.wp-block) {
		display: none !important;
	}
}
// This will capture any block that adds the correct attribute to hide on mobile.
body.is-mobile [data-hide-on-mobile="true"]:not(.wp-block):not(.wp-block-group) {
	display: none !important;
}
.is-mobile-preview .wp-block-group[data-hide-on-mobile="true"] {
	&.wp-block:before {
		content: "This block is hidden on mobile.";
		font-family: var(--wp--preset--font-family--sans-serif);
		display: block;
		text-align: center;
		font-size: 0.8em;
		border: 1px dashed #ddd;
		color: #999;
		padding: 1em;
	}
	&:not(.wp-block),
	& > * {
		display: none !important;
	}
}

/**
 * Hide On Tablet
 */
@media only screen and (min-width:  #{ ($break-small) }) and (max-width:  #{ ($break-medium) }) {
	html.block-editor-block-preview__content-iframe .wp-block-group[data-hide-on-tablet="true"].wp-block,
	.wp-block-group[data-hide-on-tablet="true"]:not(.wp-block){
		display: none !important;
	}
}
body.is-tablet [data-hide-on-tablet="true"]:not(.wp-block):not(.wp-block-group) {
	display: none !important;
}
.is-tablet-preview .wp-block-group[data-hide-on-tablet="true"]  {
	&.wp-block:before {
		content: "This block is hidden on tablet.";
		font-family: var(--wp--preset--font-family--sans-serif);
		display: block;
		text-align: center;
		font-size: 0.8em;
		color: #999;
		border: 1px dashed #ddd;
		padding: 1em;
	}
	&:not(.wp-block),
	& > * {
		display: none !important;
	}
}

/**
 * Hide On Desktop
 */
@media only screen and (min-width:  #{ ($break-medium) }) {
	html.block-editor-block-preview__content-iframe .wp-block-group[data-hide-on-desktop="true"].wp-block,
	.wp-block-group[data-hide-on-desktop="true"]:not(.wp-block){
		display: none !important;
	}
}
body.is-desktop [data-hide-on-desktop="true"]:not(.wp-block):not(.wp-block-group) {
	display: none !important;
}
.is-desktop-preview .wp-block-group[data-hide-on-desktop="true"] {
	&.wp-block:before {
		content: "This block is hidden on desktop.";
		font-family: var(--wp--preset--font-family--sans-serif);
		display: block;
		text-align: center;
		font-size: 0.8em;
		color: #999;
		border: 1px dashed #ddd;
		padding: 1em;
	}
	&:not(.wp-block),
	& > * {
		display: none !important;
	}
}

@media only screen and (max-width: #{ ($break-medium) }) {
	.is-style-collapse-row-on-mobile {
		flex-direction: column;
	}
}

// When a align full cover is before an alignfull group we want to add padding to the group.
.wp-block-cover.alignfull + .wp-block-group.alignfull {
	margin-top: 0em;
	padding-top: 1em;
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

.wp-block-group {
	&.is-style-social-group {
		border-bottom: 1px solid var(--wp--preset--color--ui-gray-light);
		margin-block-end: 1.5em;
		.wp-block-social-links {
			background: white;
			padding-top: 0.65em;
			padding-bottom: 0.5em;
		}
	}

	&.is-style-callout {
		border-top: 1px solid $relaxedBorder;
		padding: 1em;
		clear: both;
		// Legacy Support
		&.has-beige-background-color {
			background-color: var(--wp--preset--color--ui-beige-very-light);
		}

		p {
			font-family: var(--wp--preset--font-family--sans-serif);
			font-size: 14px;
		}

		.wp-block-group__inner-container ul li {
			font-family: var(--wp--preset--font-family--sans-serif) !important;
			font-size: 13px;
		}
	}

	// Legacy baseball card style, this is now managed in common-styles/baseball-card
	&.is-style-card-alt {
		padding-bottom: $altCardMargin;

		@media only screen and (min-width: 767px) {
			padding-left: $altCardMargin;
			padding-right: $altCardMargin;
		}

		.is-style-sub-header {
			padding: 9px $altCardHeaderPadding;
			margin-bottom: $altCardMargin;
			line-height: $altCardLineHeight;
			font-weight: normal;
			letter-spacing: 0.1em;

			a {
				color: white;
			}
		}
	}

	&.alignright {
		@media only screen and (min-width: 992px) {
			/*rtl:ignore*/
			clear: right;
			float: right;
			margin-left: 1em;
			/*rtl:ignore*/
		}
	}
	&.alignleft {
		@media only screen and (min-width: 992px) {
			/*rtl:ignore*/
			clear: left;
			float: left;
			margin-right: 1em;
			/*rtl:ignore*/
		}
	}
}

// @TODO this feels more like something that should be in a block pattern??
.wp-block-group.essay--toolbar,
.wp-block-group.essay--toolbar {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1em 0;
	.wp-block-social-links {
		padding-top: 0 !important;
		margin-top: 0 !important;
	}
	.wp-block-post-date {
		flex-grow: 1;
	}
}

body.admin-bar {
	.wp-block-group.is-position-sticky.js-is-sticky {
		top: calc(0px + var(--wp-admin--admin-bar--position-offset, 0px)) !important;
	}
}
