/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-bylines-display.wp-block {
	color: inherit;
	background: inherit;
}
