// We need to use intersection scroll observer to apply this is-style-snap-groups active and not active
.wp-block-prc-block-carousel:not(.wp-block) {
	padding: 0;
	width: 100%;
	max-width: 100%!important;
	display: flex;
    flex-direction: column;
	height: 100vh;

	&:not(.horizontal) {
		overflow-y: hidden;
	}
	&.horizontal {
		flex-direction: row;
		max-width: 100vw!important;
		overflow-x: hidden;
		& > .wp-block-group {
			min-width: 100vw;
		}
	}
	&.active {
		overscroll-behavior: contain;
		&:not(.horizontal) {
			overflow-y: scroll;
		}
		&.horizontal {
			overflow-x: scroll;
		}
	}

	& > .wp-block-group {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 100vh;

		scroll-snap-align: start;
	}

	& > .wp-block-group > .wp-block-group {
		height: fit-content;
		width: 100%;
		max-width: 640px;
		opacity: 0.9;
	}
}
