/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-form-input-select {
	--border-color: rgba(0, 0, 0, 0.2);
	--wp--custom--border-radius: 3px;

	flex-grow: 1;
	text-align: left;
	vertical-align: top;
	-webkit-appearance: none;
	padding: 9px 13px; // cribbed from core/button styling.
	border: 1px solid transparent;
	border-color: var(--border-color);
	border-radius: var(--wp--custom--border-radius);
	box-shadow: inset 0 0 0 0 transparent;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	outline: none;
	transition:
		color 0.1s ease,
		border-color 0.1s ease;
	&[required]:after {
		content: "*";
		color: red;
		font-size: 1.1em;
		position: absolute;
		top: 5px;
		right: 5px;
	}
}
