/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-form-input-select {
	box-sizing: border-box;
	position: relative;

	.wp-block-prc-block-form-input-select__list {
		height: 200px;
		// width: 100%;
		width: calc(100% + 2px);
		overflow-y: scroll;
		background: white;
		border: inherit;
		padding: inherit;
		top: 1.15em;
		// left: 0;
		left: -1px;
		// Hide scrollbar for Chrome, Safari and Opera
		&::-webkit-scrollbar {
			display: none;
		}
		// Hide scrollbar for Firefox
		scrollbar-width: none;
		.wp-block-prc-block-form-input-select__list-item {
			cursor: pointer;
			list-style: none;
			border-bottom: 1px solid var(--wp--preset--color--ui-gray-light);
			&:last-of-type {
				border-bottom: none;
			}
			&:hover {
				background: var(--wp--preset--color--ui-gray-light);
				color: var(--wp--preset--color--ui-gray-dark);
			}
			&:active,
			&.is-selected {
				background: var(--wp--preset--color--ui-link-color);
				color: var(--wp--preset--color--ui-white);
			}
		}
	}
	&:not(.is-open) > ul[role="listbox"] {
		display: none;
	}
	&.is-open > ul[role="listbox"] {
		position: absolute;
		z-index: 1;
	}

	button {
		appearance: none;
		border: none;
		background: transparent;
	}

	.wp-block-prc-block-form-input-select__button {
		width: 100%;
		cursor: pointer;
		text-align: left;
	}
}
