/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-form-input-select {
	--border-color: rgba(0, 0, 0, 0.2);
	--wp--custom--border-radius: 3px;
	position: relative;
	input {
		flex-grow: 1;
		text-align: left;
		vertical-align: top;
		-webkit-appearance: none;
		padding: 9px 13px; // cribbed from core/button styling.
		border: 1px solid transparent;
		border-color: var(--border-color);
		border-radius: var(--wp--custom--border-radius);
		box-shadow: inset 0 0 0 0 transparent;
		box-sizing: border-box;
		width: 100%;
		margin: 0;
		outline: none;
		transition:
			color 0.1s ease,
			border-color 0.1s ease;
	}
	&[required]:after {
		content: "*";
		color: red;
		font-size: 1.1em;
		position: absolute;
		top: 5px;
		right: 5px;
	}
	gap: var(--block-gap);

	.wp-block-prc-block-form-input-select__list {
		// write some css for a listbox
		// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select
		// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/option
		// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/optgroup

		// The listbox is a container for a list of options, which can be collapsed or expanded.
		position: absolute;
		display: inline-block;
		width: 100%;
		max-height: 200px;
		border: 1px solid #ccc;
		border-radius: 1px;
		box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
		background: var(--wp--preset--color--ui-white);
		overflow-y: auto;
		padding: 0;
		margin: 0;
		.wp-block-prc-block-form-input-select__list-item {
			display: block;
			position: relative;
			cursor: pointer;
			list-style: none;
			padding: 0.5em 1em;
			border-bottom: 1px solid var(--wp--preset--color--ui-gray-light);
			&:last-of-type {
				border-bottom: none;
			}
			&:hover {
				background: var(--wp--preset--color--ui-gray-light);
				color: var(--wp--preset--color--ui-gray-dark);
			}
			&:active,
			&.is-selected,
			&[aria-selected="true"] {
				background: var(--wp--preset--color--ui-gray-very-light);
				color: var(--wp--preset--color--ui-text-color);
				font-weight: bold;
			}
		}
	}
	&:not(.is-open) > ul[role="listbox"] {
		display: none;
	}
	&.is-open > ul[role="listbox"] {
		z-index: 99999;
	}

	button {
		appearance: none;
		border: none;
		background: transparent;
	}

	.wp-block-prc-block-form-input-select__button {
		width: 100%;
		cursor: pointer;
		text-align: left;
	}
}
