/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-breadcrumbs {
	color: inherit;
	background: transparent;

	.prc-block-breadcrumbs__list {
		display: -webkit-box;
		overflow: hidden;
		line-clamp: 1;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		margin: 0;
		padding: 0;

		& > * {
			display: inline-block;
			margin-inline-end: var(--breadcrumbs-gap, 1em);

			.rich-text {
				display: inline-block;
			}
		}
	}

	.prc-block-breadcrumbs__item {
		&:hover,
		&:focus-within {
			.prc-block-breadcrumbs__sub_list {
				display: flex;
			}
		}
	}

	.prc-block-breadcrumbs__sub_list {
		display: none;
		flex-direction: column;
		gap: calc(var(--breadcrumbs-gap, 1em) / 2);
		position: absolute;
		background: white;
		box-shadow: var(--wp--preset--shadow--natural);
		padding: 0.8em;
		z-index: 100;
		top: 0;
		transform: translateY(3em);
		border-radius: 1em;
		border: 1px solid var(--wp--preset--color--ui-gray);

		.prc-block-breadcrumbs__item {
			display: block;
			width: 100%;
		}
	}

	a[aria-current="page"] {
		font-weight: bold;
	}
}
