.wp-block-prc-block-accordion {
	border-left: none;
	border-right: none;
	border-top: none;
	.wp-block-prc-block-accordion--title {
		display: flex;
		align-items: center;
		width: 100%;
		font-size: 1.25em;
		font-weight: 600;
		padding: 0.75em;
		margin: 0;
		h3 {
			margin: 0;
			padding-left: 0.75em;
		}
	}
	button.wp-block-prc-block-accordion--title {
		background: none;
		border: none;
		color: inherit;
		cursor: pointer;
	}
	.wp-block-prc-block-accordion--icon {
		display: inline-block;
		margin: 0;
		padding: 0;
		cursor: pointer;
	}
	&.is-active .wp-block-prc-block-accordion--icon {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.wp-block-prc-block-accordion--content {
		display: none;
		padding: 0.75em;
		&.is-open {
			display: block;
			transition: all 1s ease-in-out;
		}
		& > *:last-of-type {
			margin-bottom: 0;
		}
	}
}
