.wp-block-prc-block-accordion {
	align-self: stretch;
	& > * {
		box-sizing: border-box;
	}
	.wp-block-prc-block-accordion__title {
		display: flex;
		align-items: center;
		width: 100%;
		font-family: inherit;
		font-size: 1.25em;
		font-weight: 600;
		padding: 0.75em;
		margin: 0;
		h3 {
			margin: 0;
			padding-left: 0.75em;
			font-family: inherit;
		}
	}
	button.wp-block-prc-block-accordion__title {
		background: none;
		border: none;
		color: inherit;
		cursor: pointer;
	}
	.wp-block-prc-block-accordion__icon {
		display: inline-block;
		margin: 0;
		padding: 0;
		cursor: pointer;
	}
	&.is-active {
		.wp-block-prc-block-accordion__icon {
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
		}
		.wp-block-prc-block-accordion__content {
			display: block;
			transition: all 1s ease-in-out;
		}
	}
	.wp-block-prc-block-accordion__content {
		display: none;
		padding: 0.75em;
		& > *:last-of-type {
			margin-bottom: 0;
		}
	}
}
