@use "sass:math";

$largestMobileScreen: 767px;

$baseUnit: 14px;

$headerFont: 'franklin-gothic-urw', Verdana, Geneva, sans-serif;

@function calcRemUnit($pixels) {
	@return math.div($pixels, $baseUnit) * 1rem;
}

.wp-block-cover {
	margin-bottom: 2em;
}

.wp-block-cover.alignfull > .wp-block-cover__inner-container{
	text-align: center;
}

.wp-block-cover.is-style-essay {
	.wp-block-cover__inner-container {
		max-width: 920px !important;
		text-shadow: 0px 1px 2px rgba(0,0,0,.8);
		text-align: center;
		a,
		.meta {
			color: white!important;
		}
		& > .wp-block,
		& > [class="wp-block-*"] {
			max-width: 100% !important;
		}
		h1:first-of-type {
			font-size: calcRemUnit(56px);
			font-family: $headerFont;
			line-height: calcRemUnit(64px);
		}
		h2:first-of-type {
			font-size: calcRemUnit(24px);
			font-weight: normal;
			font-family: $headerFont;
			margin-top: 1em;
		}
		.meta {
			font-size: 14px;
		}
	}
}

.wp-block-cover__inner-container.is-style-mobile-essay-header {
	margin-bottom: 1.5em;
	text-align: left;
	& > * {
		text-align: left !important;
	}
	h1,
	h2 {
		font-family: $headerFont;
	}
	h1 {
		font-size: calcRemUnit(26px);
		line-height: calcRemUnit(30px);
	}
	h2 {
		font-size: calcRemUnit(20px);
		line-height: calcRemUnit(24px);
		font-weight: 400;
		margin-top: 0;
		margin-bottom: 1.5em;
	}
	.meta {
		font-weight: bold;
		color: black;
	}
}