@use "sass:math";
$baseUnit: 14px;
@function calcRemUnit($pixels) {
	@return math.div($pixels, $baseUnit) * 1rem;
}

// We need to use intersection scroll observer to apply this has-snap-groups active and not active
.wp-block-cover.has-snap-groups {
	padding: 0;
	&.active .wp-block-cover__inner-container {
		overflow-y: scroll;
	}
	.wp-block-cover__inner-container {
		height: 100vh;
		overflow-y: hidden;
		scroll-snap-type: y mandatory;
		.wp-block-group {
			scroll-snap-align: start;
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100vh;
		}
	}
}

.wp-block-cover {
	margin-bottom: 2em;
}

.wp-block-cover.alignfull > .wp-block-cover__inner-container{
	// text-align: center;
}

.wp-block-cover.is-style-essay {
	.wp-block-cover__inner-container {
		max-width: 920px !important;
		text-shadow: 0px 1px 2px rgba(0,0,0,.8);
		text-align: center;
		a,
		.meta {
			color: white!important;
		}
		& > .wp-block,
		& > [class="wp-block-*"] {
			max-width: 100% !important;
		}
		h1:first-of-type {
			font-size: calcRemUnit(56px);
			font-family: var(--wp--preset--font-family--sans-serif, sans-serif);
			line-height: calcRemUnit(64px);
		}
		h2:first-of-type {
			font-size: calcRemUnit(24px);
			font-weight: normal;
			font-family: var(--wp--preset--font-family--sans-serif, sans-serif);
			margin-top: 1em;
		}
		.meta {
			font-size: 14px;
		}
	}
}

.wp-block-cover__inner-container.is-style-mobile-essay-header {
	margin-bottom: 1.5em;
	text-align: left;
	& > * {
		text-align: left !important;
	}
	h1,
	h2 {
		font-family: var(--wp--preset--font-family--sans-serif, sans-serif);
	}
	h1 {
		font-size: calcRemUnit(26px);
		line-height: calcRemUnit(30px);
	}
	h2 {
		font-size: calcRemUnit(20px);
		line-height: calcRemUnit(24px);
		font-weight: 400;
		margin-top: 0;
		margin-bottom: 1.5em;
	}
	.meta {
		font-weight: bold;
		color: black;
	}
}
