/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

$default_gutter: 20px;

body.has-active-modal {
	overflow: hidden;
}

.wp-block-prc-block-popup-modal--outer {
	display: none;

	&.active {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 30;
	}

	.wp-block-prc-block-popup-modal {
		width: 100%;
		max-width: 600px;
		max-height: 80vh;
		position: relative;
		background: transparent;

		&.has-background {
			border-radius: 5px;
			padding: var(--gutter, $default_gutter);
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
		}

		.wp-block-prc-block-popup-modal--header {
			margin-bottom: calc( var(--gutter, $default_gutter) * 1.3 );
			padding-bottom: calc( var(--gutter, $default_gutter) * 1.3 );
			border-bottom: 1px solid #eee;

			h2 {
				margin: 0;
			}
		}

		.wp-block-prc-block-popup-modal--inner {
			max-height: 60vh;
			overflow-y: auto;
		}

		.wp-block-prc-block-popup-modal--close-button {
			position: absolute;
			top: calc( var(--gutter, $default_gutter) * -1.5 );
			right: calc( var(--gutter, $default_gutter) * -1.5 );
			cursor: pointer;

			&:before {
				content: '×';
				font-size: 20px;
				color: white;
			}
		}
	}
}
