.wp-block-prc-block-dialog-trigger {
	cursor: pointer;
	display: block;
	appearance: none!important;
	border: none!important;
	background: none!important;
	padding: 0!important;
	padding-inline: 0!important;
	text-align: inherit!important;
	font-size: inherit!important;
}
