
$itemSpacing: 0em 0em 1rem 0em;
$dividedBorder: 1px solid rgba(34, 36, 38, 0.15);
$imageWidth: 76px;
$headerColor: #2a2a2a;
$metaColor: #565656;

.ui.staff {
    font-family: franklin-gothic-urw,Verdana,Geneva,sans-serif!important;
    display: flex;
    flex-direction: row;
    
    text-decoration: none!important;
    
    margin-bottom: 0;
    padding: $itemSpacing;
    &:not(:last-of-type) {
        margin: $itemSpacing;
        border-bottom: $dividedBorder;
    }

    &:hover {
        color: rgba(0,0,0,0.7);
        .header {
            text-decoration: underline;
        }
    }

    .header {
        color: $headerColor;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        margin-bottom: 5px;
        a {
            color: $headerColor;
        }
    }

    .job-title {
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-transform: uppercase;
        color: $metaColor;
    }

    .extra {
        text-transform: uppercase;
        a {
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 0.02em;
            text-align: left;

        }
    }

    & > .image {
        width: $imageWidth;
        padding-right: 1em;
        & > img {
            max-width: 100%;
        }
    }
}

div[data-type="prc-block/staff"]:not(:last-of-type) > .wp-block-prc-block-staff {
    margin: $itemSpacing;
    border-bottom: $dividedBorder;
}