/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-navigation.is-style-default {
	width: auto;
	gap: 0px;
	line-height: 1em;
	.wp-block-navigation-link {
		a {
			color: var(--wp--preset--color--link-color);
		}
		a:hover > .wp-block-navigation-item__label {
			text-decoration: underline!important;
		}
		.wp-block-navigation-item__label {
			display: inline-block;
			border-right: 1px solid black;
			@media (prefers-color-scheme: dark), (prefers-dark-interface) {
				border-right: 1px solid white;
			}
			padding: 0 0.5em;
		}
		&:last-of-type .wp-block-navigation-item__label {
			border-right: none!important;
			padding-right: 0;
		}
	}
}


.wp-block-navigation.is-style-pills .wp-block-navigation-item {
	border: 1px solid #EAEAEA;
	border-radius: 3px;
	padding: .7857142857em 1.5em;
	text-align: center;
	text-decoration: none;
	transition: opacity .1s ease, background-color .1s ease,color .1s ease, box-shadow .1s ease,background .1s ease;
}
.wp-block-navigation.is-style-pills .wp-block-navigation-item:hover {
	background-color: #EAEAEA;
}


.wp-block-navigation.is-style-mega-menu {
	margin-left: -1em!important;
	margin-right: -1em!important;
	max-width: calc(var(--wp--style--global--wide-size) + 2em)!important;
	width: 100%;
	position: relative;
	.wp-block-navigation-item {
		display: flex;
		flex-grow: 1;
		&.current-menu-item {
			font-weight: bold;
		}
	}
	.wp-block-navigation-item .wp-block-navigation-item__content {
		display: block;
		flex-grow: 1;
		text-align: center;
		padding: 1em!important;
	}
}
.wp-block-group:has( > .wp-block-navigation.is-style-mega-menu) {
	display: flex;
	justify-content: center;
}




// Main Mobile Menu Styling

.wp-block-navigation.is-style-mega-mobile-menu:has(.wp-block-navigation__responsive-container.is-menu-open) {
	// .wp-block-navigation__responsive-container-open {
	// 	&:after {
	// 		content: "X"
	// 	}
	// 	svg {
	// 		display: none;
	// 	}
	// }
	.wp-block-navigation__responsive-container {
		top: 50px;
	}
}

