/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-navigation.is-style-default {
	width: auto;
	gap: 0px;
	line-height: 1em;
	.wp-block-navigation-link {
		a {
			color: var(--wp--preset--color--link-color);
		}
		a:hover > .wp-block-navigation-item__label {
			text-decoration: underline !important;
		}
		.wp-block-navigation-item__label {
			display: inline-block;
			border-right: 1px solid black;
			// @media (prefers-color-scheme: dark), (prefers-dark-interface) {
			// 	border-right: 1px solid white;
			// }
			padding: 0 0.5em;
		}
		&:last-of-type .wp-block-navigation-item__label {
			border-right: none !important;
			padding-right: 0;
		}
	}
	.has-text-color.has-ui-white-color .wp-block-navigation-item__label {
		border-right-color: var(--wp--preset--color--ui-white) !important;
	}
}
.wp-block-navigation.is-style-pills.wp-block-navigation__container {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	// safari overlay
	overflow-x: overlay;
}
.wp-block-navigation.is-style-pills .wp-block-navigation-item {
	border: 1px solid #eaeaea;
	border-radius: 3px;
	padding: 0.7857142857em 1.5em;
	text-align: center;
	text-decoration: none;
	transition:
		opacity 0.1s ease,
		background-color 0.1s ease,
		color 0.1s ease,
		box-shadow 0.1s ease,
		background 0.1s ease;
	flex-shrink: 0;
}
.wp-block-navigation.is-style-pills .wp-block-navigation-item:hover {
	background-color: #eaeaea;
}

.wp-block-navigation.is-style-mega-menu {
	width: 100%;
	position: relative;
	.wp-block-navigation__container {
		width: 100%;
	}
	.wp-block-navigation-item {
		display: flex;
		flex-grow: 1;
		&.current-menu-item {
			font-weight: bold;
		}
	}
	.wp-block-navigation-item .wp-block-navigation-item__content {
		display: block;
		flex-grow: 1;
		text-align: center;
		padding: 1em !important;
	}
}
