.wp-block-prc-block-collapsible {
	box-sizing: border-box;
	background-color: #f7f7f1;
	padding: 12px 16px;
	border-color: rgba(34, 36, 38, 0.15);
	border-style: solid;
	border-width: 1px;
	margin-block-end: 1.5em;

	.wp-block-prc-block-collapsible__icon {
		appearance: none;
		cursor: pointer;
		border: none!important;
		background: transparent!important;
		padding: 0px!important;
		.opened {
			display: none;
		}
		.plus.icon,
		.minus.icon {
			margin-left: 0.5em;
		}
		.caret.icon {
			margin-right: 0.5em;
		}
	}
	.wp-block-prc-block-collapsible__title {
		display: flex;
		align-items: center;
		line-height: 160%;
		font-family: var(--wp--preset--font-family--sans-serif);
		font-weight: 700;
		font-size: 1em;
		color: rgba(0,0,0,.95);
	}
	.wp-block-prc-block-collapsible__content {
		display: none;
		padding-top: 1em;
		font-size: 14px;
		font-family: var(--wp--preset--font-family--sans-serif);
		//Clearfix
		&::after {
			content: "";
			display: table;
			width: 100%;
		}
	}
	&:not(.wp-block) {
		.wp-block-prc-block-collapsible__title {
			cursor: pointer;
		}
	}
	&.is-open {
		.wp-block-prc-block-collapsible__content {
			display: block;
		}
		.wp-block-prc-block-collapsible__icon {
			.closed {
				display: none;
			}
			.opened {
				display: inline-block;
			}
		}
	}
	&.is-style-caret {
		.wp-block-prc-block-collapsible__title {
			& > div,
			& > span {
				order: 2;
			}
			button {
				order: 1;
			}
		}
	}
}


.wp-block-group > .wp-block-prc-block-collapsible.is-style-accordion {
    background-color: white!important;
    margin-bottom: 0;
	border-bottom-width: 0px;
	&:last-child {
		margin-bottom: 1.5em!important;
		border-bottom-width: 1px
	}
}
