.wp-block-prc-block-form-input-select {
	--wp--custom--border-radius: 3px;
	box-sizing: border-box;
	position: relative;

	/**
	Button styling
	*/
	button {
		appearance: none;
		border: none;
		background: transparent;
		cursor: pointer;
		font-size: inherit;
		color: inherit;
	}

	/**
	Required field styling
	*/
	&:where(:has(input[required])) {
		label:after {
			content: "*";
			color: red;
			position: absolute;
			top: 5px;
			right: 5px;
		}
		// &:not(:has(label)):after {
		// 	content: "*";
		// 	color: red;
		// 	position: absolute;
		// 	top: 5px;
		// 	right: 5px;
		// }
	}


	label {
		cursor: pointer;
	}

	/**
	Input styling
	*/
	.wp-block-prc-block-form-input-select__input {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 4px;
		min-height: 38px;
		border: 1px solid transparent;
		border-color: rgba(0, 0, 0, 0.2);
		border-radius: var(--wp--custom--border-radius);
		padding: 4px;
		position: relative;
		width: 100%;
		cursor: pointer;

		input {
			background-color: transparent;
			text-align: left;
			vertical-align: top;
			margin: 0;
			padding: 4px 7px !important;
			outline: none;
			border: none;
			box-shadow: none;
			flex-grow: 1;
			min-width: 120px;
			font-size: inherit;
			&:focus {
				outline: none!important;
				box-shadow: none!important;
				border: none!important;
			}
		}
	}

	/**
	Listbox styling
	*/
	&:not(.is-open) .wp-block-prc-block-form-input-select__list {
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.15s ease-in-out;
	}
	.wp-block-prc-block-form-input-select__list {
		position: absolute;
		top: calc(100% - 1px);
		left: 0;
		right: 0;
		width: 100%;
		max-height: 200px;
		background: #fff;
		border: 1px solid #ccd0d4;
		border-radius: 0 0 var(--wp--custom--border-radius) var(--wp--custom--border-radius);
		margin-top: 2px;
		box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
		overflow-y: auto;
		padding: 0;
		margin: 0;
		list-style: none;
		z-index: 1000;
		transition: opacity 0.15s ease-in-out;

		li {
			padding: 8px 12px;
			cursor: pointer;
			color: #1d2327;
			background: transparent;
			&:hover {
				background: var(--wp--preset--color--ui-gray-light, #f0f0f1);
				color: var(--wp--preset--color--ui-gray-dark, #1d2327);
			}
			&:active,
			&.is-selected,
			&[aria-selected="true"] {
				background: #f0f0f1;
				color: #1d2327;
				font-weight: bold;
			}
		}
	}

	&.is-style-inline-label {
		display: flex;
		gap: 10px;
		padding: 1em;
		&:not(.has-border-color) {
			border: 1px solid transparent;
			border-color: rgba(0, 0, 0, 0.2);
			border-radius: var(--wp--custom--border-radius);
		}
		label {
			display: inline-block;
			margin-bottom: 0;
		}
		.wp-block-prc-block-form-input-select__input {
			border-color: transparent;
		}
		input {
			background-color: transparent !important;
			border: none;
			border-radius: 0;
			padding: 0;
			margin: 0;
			box-shadow: none;
			flex-grow: 1;
			width: fit-content;
			&:focus {
				border-color: transparent !important;
			}
		}
		.wp-block-prc-block-form-input-select__list {
			top: calc(100% + 1em);
			width: calc(100% + 2em);
			left: -1em;
			right: -1em;
		}
	}
}
