.wp-block-prc-block-subtitle {
    --wp--preset--font-size--h-two: 24px;
	// font-size: var(--wp--preset--font-size--h-2);
    // font-style: italic;
    // font-weight: normal;
    // font-family: var(--wp--preset--font-family--serif, serif);
    // line-height: 30px;
}

// If this is a standard post with the subtitle block do not display it.
.wp-block-post-content:not(.is-root-container) > :first-child.wp-block-prc-block-subtitle {
	display: none;
}

@media only screen and (max-width: 768px) {
	.wp-block-prc-block-subtitle {
		--wp--preset--font-size--h-two: 18.5px;
	}
}
