/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-social-share-sheet {
	display: inline-block;
	cursor: pointer;
	.wp-block-prc-block-social-share-sheet__label {
		display: inline-block;
		padding-right: 0.5em;
	}
}

button.wp-block-prc-block-social-share-sheet {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}


