/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-social-share-sheet {
	font-size: inherit;
	color: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	font-weight: inherit;
	gap: inherit;
	display: flex;
	flex-direction: row;
	cursor: pointer;
	.wp-block-prc-block-social-share-sheet__label {
		display: inline-block;
		padding-right: 0.5em;
		text-transform: inherit;
	}
	&.web-share-supported {
		& > li {
			display: none!important;
		}
		& > a {
			display: flex!important;
			align-items: center;
			span {
				line-height: 1;
			}
		}
	}
	&:not(.web-share-supported) {
		& > a  {
			display: none!important;
		}
	}
}

.wp-block-prc-block-social-share-sheet > button {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	background: none;
	padding: 0;
	display: inline-block;
	text-transform: inherit;
}
// The social links block should inherit the font size from the parent element when we're using this block.
.wp-block-social-links.has-small-icon-size:has(.wp-block-prc-block-social-share-sheet) {
    font-size: inherit !important;
	font-size: inherit!important;
	color: inherit!important;
	line-height: inherit!important;
	letter-spacing: inherit!important;
	font-weight: inherit!important;
}
